<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <%- include('../Partials/header.ejs') %>
<body>
    <div class="wrapper dashboard">
        <%- include('./adminnav.ejs') %>
        <div class="main pt-3">
            <div class="text-center">
                <h1>
                    RTU - PD-EASE - ADMIN
                </h1>
            </div>
            <div class="notification hidden">
                <span class="notif-text"></span>
                <button class="notification-button" onclick="hideNotification()"><i class="lni lni-circle-minus"></i></button>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                  
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">PDS Status in Boni</h5>
        
                      <!-- Pie Chart -->
                      <div id="pieChartboni"></div>
        
                      <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#pieChartboni"), {
                            series: [Number("<%= approvedinBoni %>"), Number("<%= submittedinBoni %>"), Number("<%= generatedinBoni %>"), Number("<%= notupdatedinboni %>")],
                            chart: {
                              height: 350,
                              type: 'pie',
                              toolbar: {
                                show: true
                              }
                            },
                            labels: ['Approved', 'Submitted', 'Generated', 'Not Updated']
                          }).render();
                        });
                      </script>
                      <!-- End Pie Chart -->
        
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">PDS Status in Pasig</h5>
        
                      <!-- Pie Chart -->
                      <div id="pieChartpasig"></div>
        
                      <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new ApexCharts(document.querySelector("#pieChartpasig"), {
                            series: [Number("<%= approvedinPasig %>"), Number("<%= submittedinPasig %>"), Number("<%= generatedinPasig %>"), Number("<%= notupdatedinpasig %>")],
                            chart: {
                              height: 350,
                              type: 'pie',
                              toolbar: {
                                show: true
                              }
                            },
                            labels: ['Approved', 'Submitted', 'Generated', 'Not Updated']
                          }).render();
                        });
                      </script>
                      <!-- End Pie Chart -->
        
                    </div>
                  </div>
              </div>
              
              <div class="col-lg-3">
                <div class="card info-card revenue-card">

                  
  
                  <div class="card-body">
                    <h5 class="card-title">PDS Submitted <span>| Today</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cloud-upload"></i>
                      </div>
                      <div class="ps-3">
                        <h6><%= usersubmitdatas %></h6>
                      </div>
                    </div>
  
                  </div>
                </div>
                <div class="card info-card customers-card">

                  
  
                  <div class="card-body">
                    <h5 class="card-title">Employee Logins <span>| Today</span></h5>
  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6><%= userlogdatas %></h6>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
    <%- include('../Partials/footer.ejs') %>
</body>
<%- include('../Partials/scripts.ejs') %>
<script>
    const notificationblock = document.querySelector('.notification');
    const notification = localStorage.getItem('notification');
    const notiftext = document.querySelector('.notif-text');
// Check if notification is present
if (notification) {
    if(notification === 'Data saved successfully.' || 'PDS SUBMITTED SUCCESSFULLY!' || 'Please Complete your Profile before proceeding' || 'Email Verified Sucessfully') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-success');
        notificationblock.classList.add('text-light');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    else if(notification === 'Saving Data Failed.' || 'Please Input atleast 1 Data before saving' || 'You need to fill up all required fields in your PDS before submitting' || 'PDS FAILED TO SUBMIT!') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-danger');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    
} else {
    // Handle case where notification data is not present
    console.log('No notification data found.');
}
    function hideNotification() {
        
        if (notificationblock) {
            notificationblock.classList.add('hidden');
        }
    }
    
</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</html>