<!DOCTYPE html>
<html lang="en">
    <%- include('../Partials/header.ejs') %>
<body>
    <div class="wrapper ">
        <%- include('./adminnav.ejs') %>
        <div class="main pt-3">
            <div class="text-center">
                <h1>
                    RTU - PD-EASE
                </h1>
            </div>
            <div class="notification hidden">
                <span class="notif-text"></span>
                <button class="notification-button" onclick="hideNotification()"><i class="lni lni-circle-minus"></i></button>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">PDS Settings</h5>
                            <form class="pdssettingsform">
                                <div class="row mb-3">
                                    <label for="dateinput" class="col-sm-2 col-form-label">Submission Deadline</label>
                                    <div class="col-sm-10">
                                      <input type="date" class="form-control" id="dateinput" value="<%= submissionDate %>" required> 
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" id="pdssubmissions" name="restrictaccount" <% if (settings.openSubmission === true) {%>checked<%
                                            
                                        } else {
                                            
                                        } %>>
                                        <label class="form-check-label" for="pdssubmissions">
                                          Enable PDS Submissions
                                        </label><br>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="announcement" class="col-sm-3 col-form-label">Set Announcement</label>
                                    <div class="col-sm-9">
                                        <textarea name="announcement" class="form-control" style="height: 100px" ><%= settings.anouncement %></textarea>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <%- include('../Partials/footer.ejs') %>
</body>
<%- include('../Partials/scripts.ejs') %>
<script>
    const notificationblock = document.querySelector('.notification');
    const notification = localStorage.getItem('notification');
    const notiftext = document.querySelector('.notif-text');
// Check if notification is present
if (notification) {
    if(notification === 'Data saved successfully.' || 'PDS SUBMITTED SUCCESSFULLY!' || 'Please Complete your Profile before proceeding' || 'Email Verified Sucessfully') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-success');
        notificationblock.classList.add('text-light');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    else if(notification === 'Saving Data Failed.' || 'Please Input atleast 1 Data before saving' || 'You need to fill up all required fields in your PDS before submitting' || 'PDS FAILED TO SUBMIT!') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-danger');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    
} else {
    // Handle case where notification data is not present
    console.log('No notification data found.');
}
    function hideNotification() {
        
        if (notificationblock) {
            notificationblock.classList.add('hidden');
        }
    }
    const pdssettingsform = document.querySelector('.pdssettingsform');
    pdssettingsform.addEventListener('submit', async (e) => {
        e.preventDefault();
        const inputdate = pdssettingsform.dateinput.value;
        const pdssubmissions = pdssettingsform.pdssubmissions.checked;
        const announcement = pdssettingsform.announcement.value;
        
         
    
        console.log({inputdate, pdssubmissions, announcement});
        
        try{
            const res = await fetch('/updatepdssettings', {
              method: 'POST',
              body: JSON.stringify({inputdate, pdssubmissions, announcement}),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
                if(data.errors){
                    localStorage.setItem('notification', 'Saving Data Failed');
                  location.assign('/pdssettings');
                }
                if (data.status){
                    localStorage.setItem('notification', 'Data saved successfully.');
                  location.assign('/pdssettings');
                }
          }
          catch (err){
          }
      })
    
</script>
</html>