<!DOCTYPE html>
<html lang="en">

    <%- include('../Partials/header.ejs') %>


<body>
    <div class="wrapper ">
        <%- include('./adminnav.ejs') %>
        <div class="main pt-3">
            <div class="text-center">
                <h1>
                    RTU - PD-EASE
                </h1>
            </div>
            <div class="notification hidden">
                <span class="notif-text"></span>
                <button class="notification-button" onclick="hideNotification()"><i class="lni lni-circle-minus"></i></button>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th>
                            <b>Name</b>
                          </th>
                          <th>Institutional Email</th>
                          <th>Campus</th>
                          <th>Account Status</th>
                          <th>PDS Status</th>
                          <th>Manage</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (userdatas && userdatas.length > 0) { %>
                            <% userdatas.forEach(function(userData) { %>
                                <tr>
                                    <td><%= userData.firstname %> <%= userData.lastname %></td>
                                    <td><%= userData.institutionalEmail %></td>
                                    <td><%= userData.profileData.length > 0 ? userData.profileData[0].campus : '' %></td>
                                    <td><%if(userData.restricted === true){%>Restricted<%} else if(userData.verified === true){%>Verified<%} else{%>Not Verified<%}%></td>
                                    <td><%= userData.PDSData.length > 0 ? userData.PDSData[0].status : 'Not Generated' %> <%= userData.PDSData.length > 0 ? userData.PDSData[0].updatedAt.toDateString() : '' %></td>
                                    <td><a href="/userprofile/<%= userData._id %>">More Info</a></td>
                                  </tr>
                            <% }); %>
                        <% } else { %>
                            <p>No user data available.</p>
                        <% } %>
                        
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
      
                  </div>
                </div>
      
              </div>
            </div>
            
        </div>
    </div>
    <%- include('../Partials/footer.ejs') %>
</body>
<%- include('../Partials/scripts.ejs') %>
<script>
    const notificationblock = document.querySelector('.notification');
    const notification = localStorage.getItem('notification');
    const notiftext = document.querySelector('.notif-text');
// Check if notification is present
if (notification) {
    if(notification === 'Data saved successfully.' || 'PDS SUBMITTED SUCCESSFULLY!' || 'Please Complete your Profile before proceeding' || 'Email Verified Sucessfully') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-success');
        notificationblock.classList.add('text-light');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    else if(notification === 'Saving Data Failed.' || 'Please Input atleast 1 Data before saving' || 'You need to fill up all required fields in your PDS before submitting' || 'PDS FAILED TO SUBMIT!') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-danger');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    
} else {
    // Handle case where notification data is not present
    console.log('No notification data found.');
}
    function hideNotification() {
        
        if (notificationblock) {
            notificationblock.classList.add('hidden');
        }
    }
    
</script>
<script src="/simple-datatables/simple-datatables.js"></script>
<script src="/tinymce/tinymce.min.js"></script>
<script src="/main.js"></script>
</html>