<!DOCTYPE html>
<html lang="en">
    <%- include('../Partials/header.ejs') %>
<body>
    <div class="wrapper ">
        <%- include('./adminnav.ejs') %>
        <div class="main pt-3">
            <div class="text-center">
                <h1>
                    RTU - PD-EASE
                </h1>
            </div>
            <div class="notification hidden">
                <span class="notif-text"></span>
                <button class="notification-button" onclick="hideNotification()"><i class="lni lni-circle-minus"></i></button>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-8 col-8">
                    <div class="card">
                        <div class="card-body pt-3">
                          <!-- Bordered Tabs -->
                          <ul class="nav nav-tabs nav-tabs-bordered">
            
                            <li class="nav-item">
                              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>
            
                            <li class="nav-item">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>
            
                            <li class="nav-item">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                            </li>
                            <li class="nav-item ">
                              <a href="/adminUsers" class="btn btn-sm btn-light">
                                <span>BACK TO USERS PAGE</span>
                            </a>
                          </li>
                            
            
                          </ul>
                          <div class="tab-content pt-2">
            
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                              
                              <h5 class="card-title"><%= userdata.firstname %>'s Profile Details</h5>
            
                                  
                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">First Name</div>
                                <div class="col-lg-9 col-md-8"><%= userdata.firstname %></div>
                              </div>
                              
                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">Last Name</div>
                                <div class="col-lg-9 col-md-8"><%= userdata.lastname %></div>
                              </div>
            
                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">Institutional Email</div>
                                <div class="col-lg-9 col-md-8"><%= userdata.institutionalEmail %></div>
                              </div>

                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">Campus</div>
                                <div class="col-lg-9 col-md-8"><% if(profiledata !== null ) { %><%= profiledata.campus%> <% }else{%>N/A<%} %> </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">Employment Type</div>
                                <div class="col-lg-9 col-md-8"><% if(profiledata !== null ) { %><%= profiledata.employmentStatus%> <% }else{%>N/A<%} %></div>
                              </div>
                              
                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">Account Status</div>
                                <div class="col-lg-9 col-md-8"><%if(userdata.restricted === true){%>Restricted<%} else if(userdata.verified === true){%>Verified<%} else{%>Not Verified<%}%></div>
                              </div>
                        
                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">PDS Status</div>
                                <div class="col-lg-9 col-md-8"><% if(pdsdata !== null ) { if(pdsdata.status === "Submitted" || pdsdata.status === "Approved") { %>  <%= pdsdata.status%><a href="downloaduserPDS/<%= userdata._id %>" class="btn btn-light btn-sm" title="Download User PDS"><i class="lni lni-download"></i></a> <% }else {%><%= pdsdata.status%> <% }}else {%>This User has not Submitted their PDS<%} %> </div>
                              </div>
            
                              <div class="row">
                                <div class="col-lg-3 col-md-4 ">Date Last Submitted</div>
                                <div class="col-lg-9 col-md-8"><% if(pdsdata !== null ) { %><%= pdsdata.updatedAt.toDateString()%> <% }else{%>N/A<%} %> </div>
                              </div>
            
                            </div>
            
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
            
                              <!-- Profile Edit Form -->
                              <form class="userform">
                                
                                <input type="hidden" name="userId" id="userId" value="<%= userdata._id %>">
                                <div class="row mb-3">
                                  <label for="firstname" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                  <div class="col-md-8 col-lg-9">
                                    <input name="firstname" type="text" class="form-control" id="firstname" value="<%= userdata.firstname %>">
                                  </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="lastname" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                    <div class="col-md-8 col-lg-9">
                                      <input name="lastname" type="text" class="form-control" id="lastname" value="<%= userdata.lastname %>">
                                    </div>
                                  </div>

                                  <div class="row mb-3">
                                    <label for="institutionalEmail" class="col-md-4 col-lg-3 col-form-label">Institutional Email</label>
                                    <div class="col-md-8 col-lg-9">
                                      <input name="institutionalEmail" type="text" class="form-control" id="institutionalEmail" value="<%= userdata.institutionalEmail %>">
                                    </div>
                                  </div>

                                  <label class="col-md-4 col-lg-3 col-form-label" for="campus">Campus:  <p class="required">*</p></label>
                                    <select id="campus" name="campus" >
                                        <option value="">Select Campus</option>
                                        <option value="Pasig" <% if (profiledata !== null && profiledata.campus === "Pasig") { %>selected<% } %>>Pasig</option>
                                        <option value="Boni" <% if (profiledata !== null && profiledata.campus === "Boni") { %>selected<% } %>>Boni</option>
                                    </select>
                                
                                    <label class="col-md-4 col-lg-3 col-form-label" for="employmentStatus">Employment Status:  <p class="required">*</p></label>
                                    <select id="employmentStatus" name="employmentStatus" >
                                        <option value="">Select Employment Status</option>
                                        <option value="Purely Admin" <% if (profiledata !== null && profiledata.employmentStatus === "Purely Admin") { %>selected<% } %>>Purely Admin</option>
                                        <option value="Quasi Admin" <% if (profiledata !== null && profiledata.employmentStatus === "Quasi Admin") { %>selected<% } %>>Quasi Admin</option>
                                        <option value="30 Hours" <% if (profiledata !== null && profiledata.employmentStatus === "30 Hours") { %>selected<% } %>>30 Hours</option>
                                        <option value="Part Time" <% if (profiledata !== null && profiledata.employmentStatus === "Part Time") { %>selected<% } %>>Part Time</option>
                                    </select>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                              </form><!-- End Profile Edit Form -->
            
                            </div>
            
                            <div class="tab-pane fade pt-3" id="profile-settings">
            
                              <!-- Settings Form -->
                              <form class="restrictform">
            
                                <div class="row mb-3">
                                  <input type="hidden" name="userId" id="userId" value="<%= userdata._id %>">
                                  <div class="col-md-8 col-lg-9">
                                    
                              <a href="/deleteuser/<%= userdata._id %>" class="btn btn-danger btn-sm">Delete Account</a><br>
                              <a href="/unsubmitpds/<%= userdata._id %>" class="mt-3 btn btn-light btn-sm <% if(pdsdata !== null ) { if(pdsdata.status === "Submitted" || pdsdata.status === "Approved") { %>  <% }else {%> disabled<% }} %>">Unsubmit PDS</a>
                                    <div class="form-check mt-3 form-switch">
                                      <input class="form-check-input" type="checkbox" id="newProducts" name="restrictaccount" <% if (userdata !== null && userdata.restricted === true) { %>checked<% } %>>
                                      <label class="form-check-label" for="restrictaccount">
                                        Restrict Account
                                      </label><br>
                                    </div>
                                  </div>
                                </div>
            
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                              </form><!-- End settings Form -->
            
                            </div>
            
            
                          </div><!-- End Bordered Tabs -->
            
                        </div>
                      </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <%- include('../Partials/footer.ejs') %>
</body>
<%- include('../Partials/scripts.ejs') %>
<script>
    const notificationblock = document.querySelector('.notification');
    const notification = localStorage.getItem('notification');
    const notiftext = document.querySelector('.notif-text');
// Check if notification is present
if (notification) {
    if(notification === 'Data saved successfully.' || 'PDS SUBMITTED SUCCESSFULLY!' || 'Please Complete your Profile before proceeding' || 'Email Verified Sucessfully') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-success');
        notificationblock.classList.add('text-light');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    else if(notification === 'Saving Data Failed.' || 'Please Input atleast 1 Data before saving' || 'You need to fill up all required fields in your PDS before submitting' || 'PDS FAILED TO SUBMIT!') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-danger');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    
} else {
    // Handle case where notification data is not present
    console.log('No notification data found.');
}
    function hideNotification() {
        
        if (notificationblock) {
            notificationblock.classList.add('hidden');
        }
    }
    

    const userform = document.querySelector('.userform');
    userform.addEventListener('submit', async (e) => {
        e.preventDefault();
        const userId = userform.userId.value;
        const firstname = userform.firstname.value;
        const lastname = userform.lastname.value;
        const institutionalEmail = userform.institutionalEmail.value;
        const campus = userform.campus.value;
        const employmentStatus = userform.employmentStatus.value;
         
    
        console.log(userId, lastname, institutionalEmail, campus, employmentStatus  );
        
        try{
            const res = await fetch('/updateuserprofile', {
              method: 'POST',
              body: JSON.stringify({userId, firstname, lastname, institutionalEmail, campus, employmentStatus}),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
                if(data.errors){
                    localStorage.setItem('notification', 'Saving Data Failed');
                  location.assign('/userprofile/<%=userdata._id%>');
                }
                if (data.status){
                    localStorage.setItem('notification', 'Data saved successfully.');
                  location.assign('/userprofile/<%=userdata._id%>');
                }
          }
          catch (err){
          }
      })

      const restrictform = document.querySelector('.restrictform');
      restrictform.addEventListener('submit', async (e) => {
        e.preventDefault();
        const userId = restrictform.userId.value;
        const restrictaccount = restrictform.restrictaccount.checked;
         
    
        console.log(userId, restrictaccount);
        
        try{
            const res = await fetch('/updateuserrestriction', {
              method: 'POST',
              body: JSON.stringify({userId, restrictaccount}),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
                if(data.errors){
                    localStorage.setItem('notification', 'Saving Data Failed');
                  location.assign('/userprofile/<%=userdata._id%>');
                }
                if (data.status){
                    localStorage.setItem('notification', 'Data saved successfully.');
                  location.assign('/userprofile/<%=userdata._id%>');
                }
          }
          catch (err){
          }
      })
</script>
</html>