<aside id="sidebar">
  <div class="d-flex">
      <button class="toggle-btn" type="button">
          <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
          <a href="#">    <% if (user) { %>
              <%= user.lastname %>
          <% } %></a>
      </div>
  </div>
  <ul class="sidebar-nav">
      <li class="sidebar-item">
          <a href="/<%=user._id%>" class="sidebar-link">
              <i class="lni lni-home"></i>
              <span>Home</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a href="/profile/<%=user._id%>" class="sidebar-link">
              <i class="lni lni-user"></i>
              <span>Profile</span>
          </a>
      </li>
      <li class="sidebar-item">
          <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
              data-bs-target="#PDS" aria-expanded="false" aria-controls="PDS">
              <i class="lni lni-files"></i>
              <span>Manage PDS</span>
          </a>
          <ul id="PDS" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item">
                  <a href="/personalinformation/<%=user._id%>" class="sidebar-link">Personal Information</a>
              </li>
              <li class="sidebar-item">
                  <a href="/familybackground/<%=user._id%>" class="sidebar-link">Family Background</a>
              </li>
              <li class="sidebar-item">
                  <a href="/education/<%=user._id%>" class="sidebar-link">Education</a>
              </li>
              <li class="sidebar-item">
                  <a href="/eligibility/<%=user._id%>" class="sidebar-link">Eligibility</a>
              </li>
              <li class="sidebar-item">
                  <a href="/workexperience/<%=user._id%>" class="sidebar-link">Work Experience</a>
              </li>
              <li class="sidebar-item">
                  <a href="/voluntarywork/<%=user._id%>" class="sidebar-link">Voluntary Work</a>
              </li>
              <li class="sidebar-item">
                  <a href="/training/<%=user._id%>" class="sidebar-link">Training</a>
              </li>
              <li class="sidebar-item">
                  <a href="/otherinfo/<%=user._id%>" class="sidebar-link">Other Information</a>
              </li>
              <li class="sidebar-item">
                  <a href="/questions/<%=user._id%>" class="sidebar-link">Questions</a>
              </li>
              <li class="sidebar-item">
                  <a href="/references/<%=user._id%>" class="sidebar-link">References</a>
              </li>
              <li class="sidebar-item">
                  <a href="/servicerecords/<%=user._id%>" class="sidebar-link">Service Records</a>
              </li>
          </ul>
      </li>
      <li class="sidebar-item">
        <a href="/forums/<%=user._id%>" class="sidebar-link disabled" onclick="return false;">
            <i class="lni lni-user"></i>
            <span>Forums</span>
        </a>
    </li>
  </ul>
  <div class="sidebar-footer">
      <a href="/logout" class="sidebar-link">
          <i class="lni lni-exit"></i>
          <span>Logout</span>
      </a>
  </div>
</aside>