<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/header.ejs') %>
<body>
    
    <div class="wrapper ">
        <%- include('./Partials/nav.ejs') %>
        <div class="main pt-3">
            <div class="text-center">
                <h1>
                    RTU - PD-EASE
                </h1>
            </div>
            <div class="notification hidden">
                <span class="notif-text"></span>
                <button class="notification-button" onclick="hideNotification()"><i class="lni lni-circle-minus"></i></button>
            </div>
            <% if (page === 'home') { %>
                <%- include('./pages/home.ejs') %>
            <% } else if (page === 'personalinformation') { %>
                <%- include('./PDS/PDSpersonalinformation.ejs') %>
            <% } else if (page === 'familybackground') { %>
                <%- include('./PDS/PDSfamilybackground.ejs') %>
            <% } else if (page === 'education') { %>
                <%- include('./PDS/PDSeducation.ejs') %>
            <% } else if (page === 'eligibility') { %>
                <%- include('./PDS/PDSeligibility.ejs') %>
            <% } else if (page === 'workexperience') { %>
                <%- include('./PDS/PDSworkexperience.ejs') %>
            <% } else if (page === 'voluntarywork') { %>
                <%- include('./PDS/PDSvoluntarywork.ejs') %>
            <% } else if (page === 'training') { %>
                <%- include('./PDS/PDStraining.ejs') %>
            <% } else if (page === 'otherinformation') { %>
                <%- include('./PDS/PDSotherinformation.ejs') %>
            <% } else if (page === 'questions') { %>
                <%- include('./PDS/PDSquestions.ejs') %>
            <% } else if (page === 'references') { %>
                <%- include('./PDS/PDSreferences.ejs') %>
            <% } else if (page === 'servicerecords') { %>
                <%- include('./PDS/PDSservicerecords.ejs') %>
            <% } else if (page === 'printPDS') { %>
                <%- include('./pages/printPDS.ejs') %>
            <% } else if (page === 'profile') { %>
                <%- include('./pages/profile.ejs') %>
            <% } else if (page === 'forums') { %>
                <%- include('./pages/forums.ejs') %>
            <% } %>
           
        </div>
    </div>
    <%- include('./Partials/footer.ejs') %>
</body>
<%- include('./Partials/scripts.ejs') %>
<script>
    const notificationblock = document.querySelector('.notification');
    const notification = localStorage.getItem('notification');
    const notiftext = document.querySelector('.notif-text');
// Check if notification is present
if (notification) {
    if(notification === 'Data saved successfully.') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-success');
        notificationblock.classList.add('text-light');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    else if(notification === 'Saving Data Failed.' || 'Please Input atleast 1 Data before saving' || 'You need to fill up all required fields in your PDS before submitting') {
        notificationblock.classList.remove('hidden');
        notificationblock.classList.add('bg-danger');
        notiftext.innerText = notification;
        console.log(notification);
        setTimeout(() => {
            hideNotification();
        }, 5000);
        localStorage.setItem('notification', '');
    }
    
} else {
    // Handle case where notification data is not present
    console.log('No notification data found.');
}
    function hideNotification() {
        
        if (notificationblock) {
            notificationblock.classList.add('hidden');
        }
    }
    
</script>
</html>