<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/header.ejs') %>
<body>
    <div class="wrapper ">
        <%- include('./Partials/nav.ejs') %>
        <div class="main pt-3">
            <div class="text-center">
                <h1>
                    RTU - PD-EASE
                </h1>
            </div>

            <% if (page === 'home') { %>
                <%- include('./pages/home.ejs') %>
            <% } else if (page === 'personalinformation') { %>
                <%- include('./PDS/PDSpersonalinformation.ejs') %>
            <% } else if (page === 'familybackground') { %>
                <%- include('./PDS/PDSfamilybackground.ejs') %>
            <% } else if (page === 'education') { %>
                <%- include('./PDS/PDSeducation.ejs') %>
            <% } else if (page === 'eligibility') { %>
                <%- include('./PDS/PDSeligibility.ejs') %>
            <% } else if (page === 'workexperience') { %>
                <%- include('./PDS/PDSworkexperience.ejs') %>
            <% } else if (page === 'voluntarywork') { %>
                <%- include('./PDS/PDSvoluntarywork.ejs') %>
            <% } else if (page === 'training') { %>
                <%- include('./PDS/PDStraining.ejs') %>
            <% } else if (page === 'otherinformation') { %>
                <%- include('./PDS/PDSotherinformation.ejs') %>
            <% } else if (page === 'questions') { %>
                <%- include('./PDS/PDSquestions.ejs') %>
            <% } else if (page === 'references') { %>
                <%- include('./PDS/PDSreferences.ejs') %>
            <% } else if (page === 'servicerecords') { %>
                <%- include('./PDS/PDSservicerecords.ejs') %>
            <% } %>
           
        </div>
    </div>
    <%- include('./Partials/footer.ejs') %>
</body>
<%- include('./Partials/scripts.ejs') %>
</html>