
<div
class="row justify-content-center align-items-center g-2"
>
<div class="col">
    <div class="row justify-content-center text-center">
        <h1>Welcome <%=user.firstname %></h1>
    </div>
    
    <div class="row justify-content-center px-custom mt-2">
        
        
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="card-header">
                  Submitted PDS's
                </div>
                <div class="card-body card-home">
                  <% if (pdsSData !== null ) { %><h1 class="card-title">Updated Last: <%=pdsSData.updatedAt.toDateString()%></h1><h2 class="card-subtitle">Status: <%=pdsSData.status%></h2> <% } else{%><h5 class="card-title">You have not submitted a PDS</h5><%} %>

                  <h2 class="card-subtitle"><%if(setting.openSubmission === true){ if(new Date().toDateString() < setting.submissionDate.toDateString() ){%> PDS submission was closed last <%=setting.submissionDate.toDateString()%><%}else{%> PDS can only be submitted until: <%=setting.submissionDate.toDateString()%><%}} else{ %>PDS Submission is Currently Closed, But you can still print your PDS<% }%></h2>
                  <p class="card-text">1. Fill up your Personal Data Sheet</p>
                  <p class="card-text">2. After Filling up, click submit to notify UCHRDM-STAR that you are about to submit your PDS</p>
                  <p class="card-text">3. Dont forget to Submit Again after updating your PDS before printing</p>
                  <p class="card-text">4. Print your PDS and submit the hardcopy to UCHRDM-STAR on or before (date)</p>
                  <p class="card-text">Dont forget to bring your pen for your signatures, and your passport sized Picture</p>
                </div>
            </div>
            <div class="card p-4 mb-3" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <%if(pdsSData !== null && pdsSData.status === 'Approved') {%>
                    Congratulations!!! your PDS has been Approved
                    <%} else {%>
                      <li class="list-group-item " >
                        <a href="" class="btn btn-light submitpds bg-info text-light"><i class="lni lni-play"></i></i>Generate PDS</a>
                         <%if(pdsSData !== null) { if(setting.openSubmission === true && new Date().toDateString() > setting.submissionDate.toDateString()){%><a href="/printPDS/<%=user._id%>" class="btn btn-light bg-saved text-light"><i class="lni lni-printer" style="margin: .3rem;"></i>Submit and Print PDS</a><%}else if(setting.openSubmission === false || new Date().toDateString() < setting.submissionDate.toDateString()){%><a href="/printonlyPDS/<%=user._id%>" class="btn btn-light bg-saved text-light"><i class="lni lni-printer" style="margin: .3rem;"></i>Print PDS</a><%}}%>
                         <%if(pdsSData !== null && pdsSData.status === 'Submitted') {%>
                         <button type="button" class="btn btn-light bg-saved text-light" data-toggle="modal" data-target="#staticBackdrop">
                          <i class="lni lni-upload" style="margin: .3rem;"></i>Upload Approved PDS
                      </button><%}%></li>
                      <%}%>
                  
                </ul>
            </div>
            
        </div>
        <div class="col-lg-4">
          <div class="card" style="width: 100%;">
              <ul class="list-group list-group-flush " >
                  <li class="list-group-item <% if (pi !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;" style="display: flex; justify-content: space-between; align-items: center;">
                      <span>Personal Information<p class="required">*</p></span>  <a class="pdssections" href="/personalinformation/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
                  </li>
                <li class="list-group-item <% if (fb !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Family Background<p class="required">*</p></span>  <a class="pdssections" href="/familybackground/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (ed !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Education Information<p class="required">*</p></span>  <a class="pdssections" href="/education/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (eb !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Civil Service Eligibility</span>  <a class="pdssections" href="/eligibility/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (we !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Work Experience</span>  <a class="pdssections" href="/workexperience/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (vw !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Voluntary Work</span>  <a class="pdssections" href="/voluntarywork/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (tr !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Development/Training Programs</span>   <a class="pdssections" href="/training/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (oi !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Other Informations</span>  <a class="pdssections" href="/otherinfo/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
                <li class="list-group-item <% if (qt !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Questions<p class="required">*</p></span>  <a class="pdssections" href="/questions/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
              <li class="list-group-item <% if (rr !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                <span>References<p class="required">*</p></span>  <a class="pdssections" href="/references/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
            </li>
                <li class="list-group-item <% if (sr !== null ) { %>bg-saved<% } else{%>bg-flagged<%} %>" style="display: flex; justify-content: space-between; align-items: center;">
                  <span>Service Records<p class="required">*</p></span>  <a class="pdssections" href="/servicerecords/<%=user._id%>" class="">Edit<i class="lni lni-arrow-right"></i></a>
              </li>
              </ul>
            </div>
      </div>
</div>
</div>
</div>
<!-- modals -->

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form method="POST" action="/uploadApprovedPDS" enctype="multipart/form-data" class="uploadForm" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Upload Approved PDS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="fileUpload">Choose File:</label>
            <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" accept=".pdf" required>
            <input type="hidden" class="userId" name="userId" id="userId" value="<%=user._id %>">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input class="btn btn-primary form-btn" type="submit" value="Upload">
        </div>
      </div>
    </form>
    </div>
  </div>
<script data-userid="<%=user._id%>" data-pi="<%=pi%>" data-fb="<%=fb%>" data-ed="<%=ed%>" data-qt="<%=qt%>" data-rr="<%=rr%>" data-sr="<%=sr%>">
  const submitPDS = document.querySelector('.submitpds');
  const userId = document.currentScript.dataset.userid;

  pi = document.currentScript.dataset.pi;
  ed = document.currentScript.dataset.ed;
  fb = document.currentScript.dataset.fb;
  qt = document.currentScript.dataset.qt;
  rr = document.currentScript.dataset.rr;
  sr = document.currentScript.dataset.sr;

  submitPDS.addEventListener('click', async (e) => { 
    e.preventDefault();
    quicknotify('generating PDS, Please Wait...', 10000)

    if(pi !== '' && ed !== '' && fb !== '' && qt !== '' && rr !== '' && sr !== '' ) {
      try{
          const res = await fetch('/submitPDS', {
            method: 'POST',
            body: JSON.stringify({userId}),
            headers: { 'Content-Type': 'application/json' }
          });
          const data = await res.json();
              if(data.errors){
                localStorage.setItem('notification', 'PDS FAILED TO SUBMIT!');
                location.assign('/<%=user._id%>');
              }
              if (data.status){
                localStorage.setItem('notification', 'PDS GENERATED SUCCESSFULLY!');
                window.open('/preview/<%=user._id%>', '_blank', 'title=Preview');
                location.assign('/<%=user._id%>');
              }
        }
        catch (err){
          console.log(err.message)
        }
    }else {
      localStorage.setItem('notification', 'You need to fill up all required fields in your PDS before submitting');
      location.assign('/<%=user._id%>');
  }
        
  
      
  })
  let buffer; // Define buffer at a higher scope

 
  function quicknotify(message, timeout) {

    const notificationblock = document.querySelector('.notification');
    const notification = localStorage.getItem('notification');
    const notiftext = document.querySelector('.notif-text');
    notificationblock.classList.remove('hidden');
          notificationblock.classList.add('bg-success');
          notificationblock.classList.add('text-light');
          notiftext.innerText = message;
          console.log(message);
          if (timeout !== null){
            setTimeout(() => {
              notificationblock.classList.add('hidden');
            }, timeout);
          }else{
            setTimeout(() => {
              notificationblock.classList.add('hidden');
            }, 5000);
          }
          const generatebutton = document.querySelector('.uploadspinner');
          generatebutton.classList.add('spinner-border');
          generatebutton.classList.add('spinner-border-sm');
          
  }
  
</script>
