
<script>
    const children = [];
</script>
<div class="row align-items-center">
    <form class="mt-1 pds-form" >
        <label class=" formHeader" for="PD-EASE">Family Background<p class="required">*</p></label>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <button class="btn btn-primary form-btn" type="submit">Save</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-10">

                <label class=" formsubHeader" for="spouse">Spouse: <p class="required">*</p></label>

                <label class="" for="sLastName">Surname: <p class="required">*</p></label>
                <input class="" id="sLastName" name="sLastName" placeholder="Spouse's Surname" value="<% if (fb === null) {} else {%><%= fb.spouse.sLastName %><%}%>"  required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="sFirstName">First Name: <p class="required">*</p></label>
                <input class="" id="sFirstName" name="sFirstName" placeholder="Spouse's First Name" value="<% if (fb === null) {} else {%><%= fb.spouse.sFirstName %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="sMiddleName">Middle Name: <p class="required">*</p></label>
                <input class="" id="sMiddleName" name="sMiddleName" placeholder="Spouse's Middle Name" value="<% if (fb === null) {} else {%><%= fb.spouse.sMiddleName %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="sNameExtension">Name Extension: <p class="required">*</p></label>
                <select class="" id="sNameExtension" name="nameExtension"  required 
                    oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                    oninput="this.setCustomValidity('')">
                        <option value="N/A" <% if (fb !== null && fb.sNameExtension === "N/A") { %>selected<% } %>>N/A</option>
                        <option value="Married" <% if (fb !== null && fb.sNameExtension === "jr.") { %>selected<% } %>>jr.</option>
                        <option value="Widowed" <% if (fb !== null && fb.sNameExtension === "sr.") { %>selected<% } %>>sr.</option>
                    </select>
                <label class="" for="sOccupation">Occupation: <p class="required">*</p></label>
                <input class="" id="sOccupation" name="sOccupation" placeholder="Spouse's Occupation" value="<% if (fb === null) {} else {%><%= fb.spouse.sOccupation%><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="sEmployerBusinessName">Employer/Business Name: <p class="required">*</p></label>
                <input class="" id="sEmployerBusinessName" name="sEmployerBusinessName" placeholder="Spouse's Employer/Business Name" value="<% if (fb === null) {} else {%><%= fb.spouse.sEmployerBusinessName %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="sBusinessAddress">Business Address: <p class="required">*</p></label>
                <input class="" id="sBusinessAddress" name="sBusinessAddress" placeholder="Business Address" value="<% if (fb === null) {} else {%><%= fb.spouse.sBusinessAddress %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="sTelNo">Telephone No.: <p class="required">*</p></label>
                <input class="" id="sTelNo" name="sTelNo" placeholder="Telephone Number" value="<% if (fb === null) {} else {%><%= fb.spouse.sTelNo %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">                                                                                

                <label class=" formsubHeader" for="spouse">Father: <p class="required">*</p></label>

                <label class="" for="fLastName">Surname: <p class="required">*</p></label>
                <input class="" id="fLastName" name="fLastName" placeholder="father's Surname" value="<% if (fb === null) {} else {%><%= fb.father.fLastName %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="fFirstName">First Name: <p class="required">*</p></label>
                <input class="" id="fFirstName" name="fFirstName" placeholder="father's First Name" value="<% if (fb === null) {} else {%><%= fb.father.fFirstName %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="fMiddleName">Middle Name: <p class="required">*</p></label>
                <input class="" id="fMiddleName" name="fMiddleName" placeholder="father's Middle Name" value="<% if (fb === null) {} else {%><%= fb.father.fMiddleName %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                <label class="" for="fNameExtension">Name Extension: <p class="required">*</p></label>
                <select class="" id="fNameExtension" name="nameExtension"  required 
                    oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                    oninput="this.setCustomValidity('')">
                        <option value="N/A" <% if (fb !== null && fb.fNameExtension === "N/A") { %>selected<% } %>>N/A</option>
                        <option value="Married" <% if (fb !== null && fb.fNameExtension === "jr.") { %>selected<% } %>>jr.</option>
                        <option value="Widowed" <% if (fb !== null && fb.fNameExtension === "sr.") { %>selected<% } %>>sr.</option>
                    </select>
                 
                    <label class=" formsubHeader" for="spouse">Mother: <p class="required">*</p></label>

                    <label class="" for="mLastName">Surname: <p class="required">*</p></label>
                    <input class="" id="mLastName" name="mLastName" placeholder="Mother's Surname" value="<% if (fb === null) {} else {%><%= fb.mother.mLastName %><% } %>" required 
                    oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                    oninput="this.setCustomValidity('')">
                    <label class="" for="mFirstName">First Name: <p class="required">*</p></label>
                    <input class="" id="mFirstName" name="mFirstName" placeholder="Mother's First Name" value="<% if (fb === null) {} else {%><%= fb.mother.mFirstName %><% } %>" required 
                    oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                    oninput="this.setCustomValidity('')">
                    <label class="" for="mMiddleName">Middle Name: <p class="required">*</p></label>
                    <input class="" id="mMiddleName" name="mMiddleName" placeholder="Mother's Middle Name" value="<% if (fb === null) {} else {%><%= fb.mother.mMiddleName %><% } %>" required 
                    oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                    oninput="this.setCustomValidity('')">
            </div>
            <div class="col-lg-5 col-sm-10">
                                                                                               
                


                <% if(fb) {if (fb.children === null) {} else {%><% for( var child of fb.children ) { %>
                    <!-- add all the current childrens to the array -->

                    <script data-fullname="<%- child.cFullName %>" data-birthdate="<%- child.cBirthDate.toDateString() %>" >
                        cFullName = document.currentScript.dataset.fullname;
                        cBirthDate = document.currentScript.dataset.birthdate;
                        children.push( {cFullName,cBirthDate} );
                    </script>

                <% } %><%}}%>
                <label class=" formsubHeader" for="spouse">Childrens: </label>
                
                <a class="btn btn-light bg-flagged my-3" id="AddChild" onclick="addchild()">+ add</a>
                <label class="" for="cFullName">Child's Full Name: </label>
                <input class="" id="cFullName" name="cFullName" placeholder="Surname, Firstname Mi." >
                <label class="" for="cBirthDate">Child's BirthDate: </label>
                <input class="" id="cBirthDate" name="cBirthDate" placeholder="MM/DD/YYYY" >
                
                <label class="" for="schooLevel">Click Add after filling up to save entry </label>
                <label class="" for="schooLevel">Entries Will Show Here</label>
                <label class="" for="schooLevel">Only Those below Here will be saved</label>
                <hr>
                <div id="referenceblock1" class="referenceblock"></div>
            </div>
        </div>
        <input type="hidden" name="userId" id="userId" value="<%= user._id %>">
    </form>
    
    
</div>
<script >
    
    const form = document.querySelector('form');
    const referenceblock = document.getElementById('referenceblock1');
   function printchildren() {
    children.forEach((child, index) => {
        var cardblock = document.createElement("div");
        cardblock.className = "card";
        var cardbody = document.createElement("div");
        cardbody.className = "card-body";

        // Create h1 element for child's name
        var cFullNameblock = document.createElement("h1");
        cFullNameblock.textContent = child.cFullName;
    
        // Create p element for child's birthday
        var cBirthDateblock = document.createElement("p");
        cBirthDateblock.textContent = 'Birthdate: '+child.cBirthDate;
    
        // Create delete button for deleting this child's information
        var deleteButton = document.createElement("a");
        deleteButton.className = 'btn deleteButton'; // Use className to assign a class
        deleteButton.textContent = "Delete";
        
        // Add event listener to delete button
        deleteButton.addEventListener("click", function() {
            // Remove child's information and the delete button from the DOM
            referenceblock.removeChild(cardblock);
            
            // Remove child's data from the 'children' array
            children.splice(index, 1);
        });
        referenceblock.appendChild(cardblock);
        cardblock.appendChild(cardbody);

        // Append child's name, birthday, and delete button to reference block
        cardbody.appendChild(cFullNameblock);
        cardbody.appendChild(cBirthDateblock);
        cardbody.appendChild(deleteButton);

    
    });
   }
    
   printchildren()
function addchild() {

    const cFullName = document.getElementById('cFullName');
    const cBirthDate = document.getElementById('cBirthDate');
    const referenceblock = document.getElementById('referenceblock1');



    
    if(cFullName.value !== '' && cBirthDate !== ''){
        children.push({cFullName: cFullName.value, cBirthDate: cBirthDate.value});
        while (referenceblock.firstChild) {
            referenceblock.removeChild(referenceblock.firstChild);
        }
        printchildren()
    }else {
        alert('Children Fields are Empty');
    }

cFullName.value = ''
cBirthDate.value = ''
}


form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const userId = form.userId.value;
    const sLastName = form.sLastName.value;
    const sFirstName = form.sFirstName.value;
    const sMiddleName = form.sMiddleName.value;
    const sNameExtension = form.sNameExtension.value;
    const sOccupation = form.sOccupation.value;
    const sEmployerBusinessName = form.sEmployerBusinessName.value;
    const sBusinessAddress = form.sBusinessAddress.value;
    const sTelNo = form.sTelNo.value;
    const fLastName = form.fLastName.value;
    const fFirstName = form.fFirstName.value;
    const fMiddleName = form.fMiddleName.value;
    const fNameExtension = form.fNameExtension.value;
    const mLastName = form.mLastName.value;
    const mFirstName = form.mFirstName.value;
    const mMiddleName = form.mMiddleName.value;
     

    console.log({userId, sLastName, sFirstName, sMiddleName, sNameExtension, sOccupation, sEmployerBusinessName, sBusinessAddress, sTelNo, fLastName,
                fFirstName, fMiddleName, fNameExtension, mLastName, mFirstName, mMiddleName, children} );
    try{
        const res = await fetch('/familybackground', {
          method: 'POST',
          body: JSON.stringify({userId, spouse:{sLastName, sFirstName, sMiddleName, sNameExtension, sOccupation, sEmployerBusinessName, sBusinessAddress, sTelNo}, father: {fLastName,
            fFirstName, fMiddleName, fNameExtension}, mother: {mLastName, mFirstName, mMiddleName}, children}),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
            if(data.errors){
                localStorage.setItem('notification', 'Saving Data Failed.');
              location.assign('/familybackground/<%=user._id%>');
            }
            if (data.status){
                localStorage.setItem('notification', 'Data saved successfully.');
              location.assign('/familybackground/<%=user._id%>');
            }
      }
      catch (err){
      }
  
  })
</script>
