
<script>
    const hobbies = [];
    const memberships = [];
    const recognitions = [];
</script>
<div class="row align-items-center">
    <form class="m-1 mx-3 pds-form" >
        <div class="row">
            <div class="col-lg-9 col-md-7 col-sm-5"></div>
            <div class="col">
                
                <button class="btn btn-primary " type="submit">Save</button>
                <button class="btn btn-danger disabled" >Print</button></div>
                
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-10">
                <label class=" formsubHeader" for="spouse">Other Information: </label>

                <div id="referenceblock1"></div>
                <label class="" for="specialSkillsHobbies">Special Skills and Hobbies: </label>
                <input class="" id="specialSkillsHobbies" name="specialSkillsHobbies" placeholder="" value="" >
                <a class="btn" id="AddChild" onclick="addhobbies()">+ add</a>

                <div id="referenceblock2"></div>
                <label class="" for="membershipAssocOrg">Membership in Academic Organization: </label>
                <input class="" id="membershipAssocOrg" name="membershipAssocOrg" placeholder="" value="" >
                <a class="btn" id="AddChild" onclick="addmembership()">+ add</a>
                
            </div>
            <div class="col-lg-5 col-sm-10">
                <div id="referenceblock3"></div>
                <label class="" for="nonAcadDistRecog">Non Academic Distinctions/Recognition: </label>
                <input class="" id="nonAcadDistRecog" name="nonAcadDistRecog" placeholder="" value="" >
                <a class="btn" id="AddChild" onclick="addrecognition()">+ add</a>
                

            </div>
            <% if(oi) {if (oi.specialSkillsHobbies === null) {} else {%><% for( var hobby of oi.specialSkillsHobbies ) { %>
                <!-- add all the current childrens to the array -->

                <script data-specialskillshobbies="<%- hobby %>">
                    
                    hobby = document.currentScript.dataset.specialskillshobbies

                    console.log(hobby)
                    hobbies.push(hobby);
                </script>

            <% } %><%}}%>
            <% if(oi) {if (oi.membershipAssocOrg === null) {} else {%><% for( var membership of oi.membershipAssocOrg ) { %>
                <!-- add all the current childrens to the array -->

                <script data-membershipassocorg="<%- membership %>">
                    
                    membership = document.currentScript.dataset.membershipassocorg

                    console.log(membership)
                    memberships.push(membership);
                </script>

            <% } %><%}}%>
            <% if(oi) {if (oi.nonAcadDistRecog === null) {} else {%><% for( var recognition of oi.nonAcadDistRecog ) { %>
                <!-- add all the current childrens to the array -->

                <script data-nonacaddistrecog="<%- recognition %>">
                    
                    recognition = document.currentScript.dataset.nonacaddistrecog

                    console.log(recognition)
                    recognitions.push(recognition);
                </script>

            <% } %><%}}%>
            
            <input type="hidden" name="userId" id="userId" value="<%= user._id %>">
        </div>
    </form>
    
    
</div>
<script >

    const referenceblock1 = document.getElementById('referenceblock1');
    const referenceblock2 = document.getElementById('referenceblock2');
    const referenceblock3 = document.getElementById('referenceblock3');
   
    hobbies.forEach((hobby, index) => {
    
        // Create p element 
        var specialSkillsHobbiesblock = document.createElement("p");
        specialSkillsHobbiesblock.textContent = hobby;

        // Create delete button for deleting this child's information
        var deleteButton = document.createElement("a");
        deleteButton.className = 'btn deleteButton'; // Use className to assign a class
        deleteButton.textContent = "Delete";
        
        // Add event listener to delete button
        deleteButton.addEventListener("click", function() {
            // Remove child's information and the delete button from the DOM
            referenceblock1.removeChild(specialSkillsHobbiesblock);
            referenceblock1.removeChild(deleteButton);
            
            // Remove child's data from the 'children' array
            hobbies.splice(index);
        });
    
        // Append child's name, birthday, and delete button to reference block
        referenceblock1.appendChild(specialSkillsHobbiesblock);
        referenceblock1.appendChild(deleteButton);

    
    });

    memberships.forEach((recognition, index) => {
    
        // Create p element 
        var membershipAssocOrgblock = document.createElement("p");
        membershipAssocOrgblock.textContent = recognition;

        // Create delete button for deleting this child's information
        var deleteButton = document.createElement("a");
        deleteButton.className = 'btn deleteButton'; // Use className to assign a class
        deleteButton.textContent = "Delete";
        
        // Add event listener to delete button
        deleteButton.addEventListener("click", function() {
            // Remove child's information and the delete button from the DOM
            referenceblock2.removeChild(membershipAssocOrgblock);
            referenceblock2.removeChild(deleteButton);
            
            // Remove child's data from the 'children' array
            memberships.splice(index);
        });
    
        // Append child's name, birthday, and delete button to reference block
        referenceblock2.appendChild(membershipAssocOrgblock);
        referenceblock2.appendChild(deleteButton);

    
    });

    recognitions.forEach((membership, index) => {
    
        // Create p element 
        var nonAcadDistRecogblock = document.createElement("p");
        nonAcadDistRecogblock.textContent = membership;

        // Create delete button for deleting this child's information
        var deleteButton = document.createElement("a");
        deleteButton.className = 'btn deleteButton'; // Use className to assign a class
        deleteButton.textContent = "Delete";
        
        // Add event listener to delete button
        deleteButton.addEventListener("click", function() {
            // Remove child's information and the delete button from the DOM
            referenceblock3.removeChild(nonAcadDistRecogblock);
            referenceblock3.removeChild(deleteButton);
            
            // Remove child's data from the 'children' array
            recognitions.splice(index);
        });
    
        // Append child's name, birthday, and delete button to reference block
        referenceblock3.appendChild(nonAcadDistRecogblock);
        referenceblock3.appendChild(deleteButton);

    
    });

    function addhobbies() {

        const specialSkillsHobbies = document.getElementById('specialSkillsHobbies');
        const referenceblock1 = document.getElementById('referenceblock1');
       
    
        hobbies.push(specialSkillsHobbies.value);
            console.log(hobbies, 'hello')
    
        while (referenceblock1.firstChild) {
            referenceblock1.removeChild(referenceblock1.firstChild);
        }
    
        hobbies.forEach((hobby, index) => {
    
            // Create p element 
            var specialSkillsHobbiesblock = document.createElement("p");
            specialSkillsHobbiesblock.textContent = hobby;
    
            // Create delete button for deleting this child's information
            var deleteButton = document.createElement("a");
            deleteButton.className = 'btn deleteButton'; // Use className to assign a class
            deleteButton.textContent = "Delete";
            
            // Add event listener to delete button
            deleteButton.addEventListener("click", function() {
                // Remove child's information and the delete button from the DOM
                referenceblock1.removeChild(specialSkillsHobbiesblock);
                referenceblock1.removeChild(deleteButton);
                
                // Remove child's data from the 'children' array
                hobbies.splice(index);
            });
        
            // Append child's name, birthday, and delete button to reference block
            referenceblock1.appendChild(specialSkillsHobbiesblock);
            referenceblock1.appendChild(deleteButton);
    
        
        });
    
    }
    function addmembership() {

        const membershipAssocOrg = document.getElementById('membershipAssocOrg');
        const referenceblock2 = document.getElementById('referenceblock2');
       
    
        memberships.push(membershipAssocOrg.value);
            console.log(memberships, 'hello')
    
        while (referenceblock2.firstChild) {
            referenceblock2.removeChild(referenceblock2.firstChild);
        }
    
        memberships.forEach((recognition, index) => {
    
            // Create p element 
            var membershipAssocOrgblock = document.createElement("p");
            membershipAssocOrgblock.textContent = recognition;
    
            // Create delete button for deleting this child's information
            var deleteButton = document.createElement("a");
            deleteButton.className = 'btn deleteButton'; // Use className to assign a class
            deleteButton.textContent = "Delete";
            
            // Add event listener to delete button
            deleteButton.addEventListener("click", function() {
                // Remove child's information and the delete button from the DOM
                referenceblock2.removeChild(membershipAssocOrgblock);
                referenceblock2.removeChild(deleteButton);
                
                // Remove child's data from the 'children' array
                memberships.splice(index);
            });
        
            // Append child's name, birthday, and delete button to reference block
            referenceblock2.appendChild(membershipAssocOrgblock);
            referenceblock2.appendChild(deleteButton);
    
        
        });
    
    }
    function addrecognition() {

        const nonAcadDistRecog = document.getElementById('nonAcadDistRecog');
        const referenceblock3 = document.getElementById('referenceblock3');
       
    
        recognitions.push(nonAcadDistRecog.value);
            console.log(recognitions, 'hello')
    
        while (referenceblock3.firstChild) {
            referenceblock3.removeChild(referenceblock3.firstChild);
        }
    
        recognitions.forEach((recognition, index) => {
    
            // Create p element 
            var nonAcadDistRecogblock = document.createElement("p");
            nonAcadDistRecogblock.textContent = recognition;
    
            // Create delete button for deleting this child's information
            var deleteButton = document.createElement("a");
            deleteButton.className = 'btn deleteButton'; // Use className to assign a class
            deleteButton.textContent = "Delete";
            
            // Add event listener to delete button
            deleteButton.addEventListener("click", function() {
                // Remove child's information and the delete button from the DOM
                referenceblock3.removeChild(nonAcadDistRecogblock);
                referenceblock3.removeChild(deleteButton);
                
                // Remove child's data from the 'children' array
                recognitions.splice(index);
            });
        
            // Append child's name, birthday, and delete button to reference block
            referenceblock3.appendChild(nonAcadDistRecogblock);
            referenceblock3.appendChild(deleteButton);
    
        
        });
    
    }
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const userId = form.userId.value;
         
    
        console.log({userId, hobbies, memberships, recognitions, } );
        try{
            const res = await fetch('/otherinfo', {
              method: 'POST',
              body: JSON.stringify({userId, specialSkillsHobbies: hobbies, nonAcadDistRecog: memberships, membershipAssocOrg: recognitions, }),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
                if(data.errors){
                }
                if (data.status){
                  location.assign('/otherinfo/<%=user._id%>');
                }
          }
          catch (err){
          }
      
      })
    
</script>
