

<div class="row align-items-center">
    <form class="mt-1 pds-form" >
        <label class="formHeader" for="spouse">Personal Information</label>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <button class="btn btn-primary form-btn" type="submit">Save</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-10">  
                <label class="" for="lastName">Surname: <p class="required">*</p></label>
                <input class="" id="lastName" name="lastName" placeholder="Last Name" value="<%= user.lastname %>" disabled required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="firstName">First Name:  <p class="required">*</p></label>
                <input class="" id="firstName" name="firstName" placeholder="First Name" value="<%= user.firstname %>" disabled required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="middleName">Middle Name: <p class="required">*</p></label>
                <input class="" id="middleName" name="middleName" placeholder="Middle Name" value="<% if (pi){%><%= pi.middleName %><% } %>" >
                    
                <label class="" for="nameExtension">Name extension: <p class="required">*</p></label>
                <select class="" id="nameExtension" name="nameExtension"  required 
                    oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                    oninput="this.setCustomValidity('')">
                        <option value="N/A" <% if (pi !== null && pi.nameExtension === "N/A") { %>selected<% } %>>N/A</option>
                        <option value="Married" <% if (pi !== null && pi.nameExtension === "jr.") { %>selected<% } %>>jr.</option>
                        <option value="Widowed" <% if (pi !== null && pi.nameExtension === "sr.") { %>selected<% } %>>sr.</option>
                    </select>
                 
                <label class="" for="birthDate">Date of Birth:  <p class="required">*</p></label>
                <input class="" type="date" id="birthDate" name="birthDate" placeholder="MM/YYYY" value="<% if (pi === null) {} else {%><%= pibirthDate %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
    
                <label class="" for="placeOfBirth">Place of Birth:  <p class="required">*</p></label>
                <input class="" id="placeOfBirth" name="placeOfBirth" placeholder="Place of Birth" value="<% if (pi === null) {} else {%><%= pi.placeOfBirth %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="sex">Sex:  <p class="required">*</p></label>
                <select class="" id="sex" name="sex" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    <option value="Male" <% if (pi !== null && pi.sex === "male") { %>selected<% } %>>Male</option>
                    <option value="Female" <% if (pi !== null && pi.sex === "female") { %>selected<% } %>>Female</option>
                </select>
                    
                <label class="" for="civilStatus">Civil Status:  <p class="required">*</p></label>
                <select class="" id="civilStatus" name="civilStatus" value="<% if (pi === null) {} else {%><%= pi.civilStatus %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    <option value="Single" <% if (pi !== null && pi.civilStatus === "single") { %>selected<% } %>>Single</option>
                    <option value="Married" <% if (pi !== null && pi.civilStatus === "married") { %>selected<% } %>>Married</option>
                    <option value="Widowed" <% if (pi !== null && pi.civilStatus === "widowed") { %>selected<% } %>>Widowed</option>
                    <option value="Separated" <% if (pi !== null && pi.civilStatus === "separated") { %>selected<% } %>>Separated</option>
                    <option value="Other" <% if (pi !== null && pi.civilStatus === "other") { %>selected<% } %>>Other</option>
                </select>
                    
                <label class="" for="height">Height (m):   <p class="required">*</p></label>
                <input class="" type="number" id="height" name="height"  placeholder="Height" value="<% if (pi === null) {} else {%><%= pi.height %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="weight">Weight (Kg):  <p class="required">*</p></label>
                <input type="number" class="" id="weight" name="weight" placeholder="Weight" value="<% if (pi === null) {} else {%><%= pi.weight %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="bloodType">Blood Type:  <p class="required">*</p></label>
                <select class="" id="bloodType" name="bloodType" required>
                    <option value="">Select Blood Type</option>
                    <option value="A" <% if (pi !== null && pi.bloodType === 'A') { %> selected <% } %>>A</option>
                    <option value="B" <% if (pi !== null && pi.bloodType === 'B') { %> selected <% } %>>B</option>
                    <option value="AB" <% if (pi !== null && pi.bloodType === 'AB') { %> selected <% } %>>AB</option>
                    <option value="O" <% if (pi !== null && pi.bloodType === 'O') { %> selected <% } %>>O</option>
                    <option value="A+" <% if (pi !== null && pi.bloodType === 'A+') { %> selected <% } %>>A+</option>
                    <option value="A-" <% if (pi !== null && pi.bloodType === 'A-') { %> selected <% } %>>A-</option>
                    <option value="B+" <% if (pi !== null && pi.bloodType === 'B+') { %> selected <% } %>>B+</option>
                    <option value="B-" <% if (pi !== null && pi.bloodType === 'B-') { %> selected <% } %>>B-</option>
                    <option value="AB+" <% if (pi !== null && pi.bloodType === 'AB+') { %> selected <% } %>>AB+</option>
                    <option value="AB-" <% if (pi !== null && pi.bloodType === 'AB-') { %> selected <% } %>>AB-</option>
                    <option value="O+" <% if (pi !== null && pi.bloodType === 'O+') { %> selected <% } %>>O+</option>
                    <option value="O-" <% if (pi !== null && pi.bloodType === 'O-') { %> selected <% } %>>O-</option>
                </select>
                    
                <label class="" for="gsisId">GSIS ID:  <p class="required">*</p></label>
                <input class="" id="gsisId" name="gsisId" placeholder="GSIS ID" value="<% if (pi === null) {} else {%><%= pi.gsisId %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="pagibigId">PAG-IBIG ID:  <p class="required">*</p></label>
                <input class="" id="pagibigId" name="pagibigId" placeholder="PAG-IBIG ID" value="<% if (pi === null) {} else {%><%= pi.pagibigId %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="philhealthId">PHILHEALTH No.:  <p class="required">*</p></label>
                <input class="" id="philhealthId" name="philhealthId" placeholder="PHILHEALTH No." value="<% if (pi === null) {} else {%><%= pi.philhealthId %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="sssId">SSS No.:  <p class="required">*</p></label>
                <input class="" id="sssId" name="sssId" placeholder="SSS No." value="<% if (pi === null) {} else {%><%= pi.sssId %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="tinId">TIN No.:  <p class="required">*</p></label>
                <input class="" id="tinId" name="tinId" placeholder="TIN No." value="<% if (pi === null) {} else {%><%= pi.tinId %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    
                <label class="" for="agencyEmployeeId">Agency Employee No.:  <p class="required">*</p></label>
                <input class="" id="agencyEmployeeId" name="agencyEmployeeId" placeholder="Agency Employee No." value="<% if (pi === null) {} else {%><%= pi.agencyEmployeeId %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
    
                <label class="" for="telNo">Telephone Number: </label>
                <input class="" id="telNo" name="telNo" placeholder="Telephone Number" value="<% if (pi === null) {} else {%><%= pi.telNo %><% } %>" >
                
                <label class="" for="celNo">Cellphone Number: </label>
                <input class="" id="celNo" name="celNo" placeholder="Telephone Number" value="<% if (pi === null) {} else {%><%= pi.celNo %><% } %>" >
                
                
    
            </div>
            <div class="col-lg-5 col-sm-10">
    
                <label class="" for="institutionalEmail">Email:  <p class="required">*</p></label>
                <input class=" disabled" id="institutionalEmail" placeholder="Please Use Institutional Email" name="institutionalEmail" value="<%= user.institutionalEmail %>" disabled required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">

                <label class="" for="citizenship">Citizenship:  <p class="required">*</p></label>
                <select class="" id="citizenship" name="citizenship" onchange="handleCitizenshipSelection()"  required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                    <option value="Filipino" <% if (pi !== null && pi.citizenship === "filipino") { %>selected<% } %>>Filipino</option>
                    <option value="Dual Citizenship" <% if (pi !== null && pi.citizenship === "dual citizenship") { %>selected<% } %>>Dual Citizenship</option>
                </select>
                <label id="dcTypeL" for="dcType"  >Dual Citizenship Type <p class="required">*</p></label>
                <select id="dcType" name="dcType" >
                    <option value="By Birth" <% if (pi !== null && pi.dualCitizenship.dcType === "By Birth") { %>selected<% } %>>By Birth</option>
                    <option value="By Naturalization" <% if (pi !== null && pi.dualCitizenship.dcType === "By Naturalization") { %>selected<% } %>>By Naturalization</option>
                </select>

                <label for="dcCountry" id="dcCountryL" style="display: none;">Pls. Indicate Country <p class="required">*</p></label>
                <select id="dcCountry" name="dcCountry" style="display: none;">
                    <option value="" >Select a country...</option>
                    <option value="Afghanistan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Afghanistan") { %>selected<% } %>>Afghanistan</option>
                    <option value="Åland Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Åland Islands") { %>selected<% } %>>Åland Islands</option>
                    <option value="Albania" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Albania") { %>selected<% } %>>Albania</option>
                    <option value="Algeria" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Algeria") { %>selected<% } %>>Algeria</option>
                    <option value="American Samoa" <% if (pi !== null && pi.dualCitizenship.dcCountry === "American Samoa") { %>selected<% } %>>American Samoa</option>
                    <option value="Andorra" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Andorra") { %>selected<% } %>>Andorra</option>
                    <option value="Angola" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Angola") { %>selected<% } %>>Angola</option>
                    <option value="Anguilla" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Anguilla") { %>selected<% } %>>Anguilla</option>
                    <option value="Antarctica" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Antarctica") { %>selected<% } %>>Antarctica</option>
                    <option value="Antigua and Barbuda" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Antigua and Barbuda") { %>selected<% } %>>Antigua and Barbuda</option>
                    <option value="Argentina" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Argentina") { %>selected<% } %>>Argentina</option>
                    <option value="Armenia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Armenia") { %>selected<% } %>>Armenia</option>
                    <option value="Aruba" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Aruba") { %>selected<% } %>>Aruba</option>
                    <option value="Australia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Australia") { %>selected<% } %>>Australia</option>
                    <option value="Austria" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Austria") { %>selected<% } %>>Austria</option>
                    <option value="Azerbaijan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Azerbaijan") { %>selected<% } %>>Azerbaijan</option>
                    <option value="Bahamas" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bahamas") { %>selected<% } %>>Bahamas</option>
                    <option value="Bahrain" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bahrain") { %>selected<% } %>>Bahrain</option>
                    <option value="Bangladesh" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bangladesh") { %>selected<% } %>>Bangladesh</option>
                    <option value="Barbados" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Barbados") { %>selected<% } %>>Barbados</option>
                    <option value="Belarus" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Belarus") { %>selected<% } %>>Belarus</option>
                    <option value="Belgium" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Belgium") { %>selected<% } %>>Belgium</option>
                    <option value="Belize" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Belize") { %>selected<% } %>>Belize</option>
                    <option value="Benin" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Benin") { %>selected<% } %>>Benin</option>
                    <option value="Bermuda" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bermuda") { %>selected<% } %>>Bermuda</option>
                    <option value="Bhutan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bhutan") { %>selected<% } %>>Bhutan</option>
                    <option value="Bolivia (Plurinational State of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bolivia (Plurinational State of)") { %>selected<% } %>>Bolivia (Plurinational State of)</option>
                    <option value="Bonaire, Sint Eustatius and Saba" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bonaire, Sint Eustatius and Saba") { %>selected<% } %>>Bonaire, Sint Eustatius and Saba</option>
                    <option value="Bosnia and Herzegovina" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bosnia and Herzegovina") { %>selected<% } %>>Bosnia and Herzegovina</option>
                    <option value="Botswana" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Botswana") { %>selected<% } %>>Botswana</option>
                    <option value="Bouvet Island" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bouvet Island") { %>selected<% } %>>Bouvet Island</option>
                    <option value="Brazil" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Brazil") { %>selected<% } %>>Brazil</option>
                    <option value="British Indian Ocean Territory" <% if (pi !== null && pi.dualCitizenship.dcCountry === "British Indian Ocean Territory") { %>selected<% } %>>British Indian Ocean Territory</option>
                    <option value="Brunei Darussalam" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Brunei Darussalam") { %>selected<% } %>>Brunei Darussalam</option>
                    <option value="Bulgaria" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Bulgaria") { %>selected<% } %>>Bulgaria</option>
                    <option value="Burkina Faso" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Burkina Faso") { %>selected<% } %>>Burkina Faso</option>
                    <option value="Burundi" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Burundi") { %>selected<% } %>>Burundi</option>
                    <option value="Cabo Verde" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cabo Verde") { %>selected<% } %>>Cabo Verde</option>
                    <option value="Cambodia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cambodia") { %>selected<% } %>>Cambodia</option>
                    <option value="Cameroon" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cameroon") { %>selected<% } %>>Cameroon</option>
                    <option value="Canada" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Canada") { %>selected<% } %>>Canada</option>
                    <option value="Cayman Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cayman Islands") { %>selected<% } %>>Cayman Islands</option>
                    <option value="Central African Republic" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Central African Republic") { %>selected<% } %>>Central African Republic</option>
                    <option value="Chad" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Chad") { %>selected<% } %>>Chad</option>
                    <option value="Chile" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Chile") { %>selected<% } %>>Chile</option>
                    <option value="China" <% if (pi !== null && pi.dualCitizenship.dcCountry === "China") { %>selected<% } %>>China</option>
                    <option value="Christmas Island" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Christmas Island") { %>selected<% } %>>Christmas Island</option>
                    <option value="Cocos (Keeling) Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cocos (Keeling) Islands") { %>selected<% } %>>Cocos (Keeling) Islands</option>
                    <option value="Colombia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Colombia") { %>selected<% } %>>Colombia</option>
                    <option value="Comoros" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Comoros") { %>selected<% } %>>Comoros</option>
                    <option value="Congo" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Congo") { %>selected<% } %>>Congo</option>
                    <option value="Congo (Democratic Republic of the)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Congo (Democratic Republic of the)") { %>selected<% } %>>Congo (Democratic Republic of the)</option>
                    <option value="Cook Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cook Islands") { %>selected<% } %>>Cook Islands</option>
                    <option value="Costa Rica" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Costa Rica") { %>selected<% } %>>Costa Rica</option>
                    <option value="Côte d'Ivoire" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Côte d'Ivoire") { %>selected<% } %>>Côte d'Ivoire</option>
                    <option value="Croatia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Croatia") { %>selected<% } %>>Croatia</option>
                    <option value="Cuba" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cuba") { %>selected<% } %>>Cuba</option>
                    <option value="Curaçao" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Curaçao") { %>selected<% } %>>Curaçao</option>
                    <option value="Cyprus" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Cyprus") { %>selected<% } %>>Cyprus</option>
                    <option value="Czech Republic" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Czech Republic") { %>selected<% } %>>Czech Republic</option>
                    <option value="Denmark" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Denmark") { %>selected<% } %>>Denmark</option>
                    <option value="Djibouti" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Djibouti") { %>selected<% } %>>Djibouti</option>
                    <option value="Dominica" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Dominica") { %>selected<% } %>>Dominica</option>
                    <option value="Dominican Republic" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Dominican Republic") { %>selected<% } %>>Dominican Republic</option>
                    <option value="Ecuador" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Ecuador") { %>selected<% } %>>Ecuador</option>
                    <option value="Egypt" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Egypt") { %>selected<% } %>>Egypt</option>
                    <option value="El Salvador" <% if (pi !== null && pi.dualCitizenship.dcCountry === "El Salvador") { %>selected<% } %>>El Salvador</option>
                    <option value="Equatorial Guinea" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Equatorial Guinea") { %>selected<% } %>>Equatorial Guinea</option>
                    <option value="Eritrea" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Eritrea") { %>selected<% } %>>Eritrea</option>
                    <option value="Estonia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Estonia") { %>selected<% } %>>Estonia</option>
                    <option value="Ethiopia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Ethiopia") { %>selected<% } %>>Ethiopia</option>
                    <option value="Falkland Islands (Malvinas)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Falkland Islands (Malvinas)") { %>selected<% } %>>Falkland Islands (Malvinas)</option>
                    <option value="Faroe Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Faroe Islands") { %>selected<% } %>>Faroe Islands</option>
                    <option value="Fiji" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Fiji") { %>selected<% } %>>Fiji</option>
                    <option value="Finland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Finland") { %>selected<% } %>>Finland</option>
                    <option value="France" <% if (pi !== null && pi.dualCitizenship.dcCountry === "France") { %>selected<% } %>>France</option>
                    <option value="French Guiana" <% if (pi !== null && pi.dualCitizenship.dcCountry === "French Guiana") { %>selected<% } %>>French Guiana</option>
                    <option value="French Polynesia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "French Polynesia") { %>selected<% } %>>French Polynesia</option>
                    <option value="French Southern Territories" <% if (pi !== null && pi.dualCitizenship.dcCountry === "French Southern Territories") { %>selected<% } %>>French Southern Territories</option>
                    <option value="Gabon" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Gabon") { %>selected<% } %>>Gabon</option>
                    <option value="Gambia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Gambia") { %>selected<% } %>>Gambia</option>
                    <option value="Georgia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Georgia") { %>selected<% } %>>Georgia</option>
                    <option value="Germany" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Germany") { %>selected<% } %>>Germany</option>
                    <option value="Ghana" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Ghana") { %>selected<% } %>>Ghana</option>
                    <option value="Gibraltar" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Gibraltar") { %>selected<% } %>>Gibraltar</option>
                    <option value="Greece" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Greece") { %>selected<% } %>>Greece</option>
                    <option value="Greenland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Greenland") { %>selected<% } %>>Greenland</option>
                    <option value="Grenada" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Grenada") { %>selected<% } %>>Grenada</option>
                    <option value="Guadeloupe" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guadeloupe") { %>selected<% } %>>Guadeloupe</option>
                    <option value="Guam" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guam") { %>selected<% } %>>Guam</option>
                    <option value="Guatemala" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guatemala") { %>selected<% } %>>Guatemala</option>
                    <option value="Guernsey" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guernsey") { %>selected<% } %>>Guernsey</option>
                    <option value="Guinea" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guinea") { %>selected<% } %>>Guinea</option>
                    <option value="Guinea-Bissau" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guinea-Bissau") { %>selected<% } %>>Guinea-Bissau</option>
                    <option value="Guyana" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Guyana") { %>selected<% } %>>Guyana</option>
                    <option value="Haiti" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Haiti") { %>selected<% } %>>Haiti</option>
                    <option value="Heard Island and McDonald Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Heard Island and McDonald Islands") { %>selected<% } %>>Heard Island and McDonald Islands</option>
                    <option value="Holy See" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Holy See") { %>selected<% } %>>Holy See</option>
                    <option value="Honduras" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Honduras") { %>selected<% } %>>Honduras</option>
                    <option value="Hong Kong" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Hong Kong") { %>selected<% } %>>Hong Kong</option>
                    <option value="Hungary" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Hungary") { %>selected<% } %>>Hungary</option>
                    <option value="Iceland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Iceland") { %>selected<% } %>>Iceland</option>
                    <option value="India" <% if (pi !== null && pi.dualCitizenship.dcCountry === "India") { %>selected<% } %>>India</option>
                    <option value="Indonesia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Indonesia") { %>selected<% } %>>Indonesia</option>
                    <option value="Iran (Islamic Republic of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Iran (Islamic Republic of)") { %>selected<% } %>>Iran (Islamic Republic of)</option>
                    <option value="Iraq" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Iraq") { %>selected<% } %>>Iraq</option>
                    <option value="Ireland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Ireland") { %>selected<% } %>>Ireland</option>
                    <option value="Isle of Man" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Isle of Man") { %>selected<% } %>>Isle of Man</option>
                    <option value="Israel" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Israel") { %>selected<% } %>>Israel</option>
                    <option value="Italy" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Italy") { %>selected<% } %>>Italy</option>
                    <option value="Jamaica" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Jamaica") { %>selected<% } %>>Jamaica</option>
                    <option value="Japan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Japan") { %>selected<% } %>>Japan</option>
                    <option value="Jersey" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Jersey") { %>selected<% } %>>Jersey</option>
                    <option value="Jordan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Jordan") { %>selected<% } %>>Jordan</option>
                    <option value="Kazakhstan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Kazakhstan") { %>selected<% } %>>Kazakhstan</option>
                    <option value="Kenya" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Kenya") { %>selected<% } %>>Kenya</option>
                    <option value="Kiribati" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Kiribati") { %>selected<% } %>>Kiribati</option>
                    <option value="Korea (Democratic People's Republic of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Korea (Democratic People's Republic of)") { %>selected<% } %>>Korea (Democratic People's Republic of)</option>
                    <option value="Korea (Republic of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Korea (Republic of)") { %>selected<% } %>>Korea (Republic of)</option>
                    <option value="Kuwait" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Kuwait") { %>selected<% } %>>Kuwait</option>
                    <option value="Kyrgyzstan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Kyrgyzstan") { %>selected<% } %>>Kyrgyzstan</option>
                    <option value="Lao People's Democratic Republic" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Lao People's Democratic Republic") { %>selected<% } %>>Lao People's Democratic Republic</option>
                    <option value="Latvia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Latvia") { %>selected<% } %>>Latvia</option>
                    <option value="Lebanon" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Lebanon") { %>selected<% } %>>Lebanon</option>
                    <option value="Lesotho" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Lesotho") { %>selected<% } %>>Lesotho</option>
                    <option value="Liberia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Liberia") { %>selected<% } %>>Liberia</option>
                    <option value="Libya" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Libya") { %>selected<% } %>>Libya</option>
                    <option value="Liechtenstein" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Liechtenstein") { %>selected<% } %>>Liechtenstein</option>
                    <option value="Lithuania" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Lithuania") { %>selected<% } %>>Lithuania</option>
                    <option value="Luxembourg" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Luxembourg") { %>selected<% } %>>Luxembourg</option>
                    <option value="Macao" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Macao") { %>selected<% } %>>Macao</option>
                    <option value="Macedonia (the former Yugoslav Republic of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Macedonia (the former Yugoslav Republic of)") { %>selected<% } %>>Macedonia (the former Yugoslav Republic of)</option>
                    <option value="Madagascar" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Madagascar") { %>selected<% } %>>Madagascar</option>
                    <option value="Malawi" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Malawi") { %>selected<% } %>>Malawi</option>
                    <option value="Malaysia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Malaysia") { %>selected<% } %>>Malaysia</option>
                    <option value="Maldives" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Maldives") { %>selected<% } %>>Maldives</option>
                    <option value="Mali" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mali") { %>selected<% } %>>Mali</option>
                    <option value="Malta" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Malta") { %>selected<% } %>>Malta</option>
                    <option value="Marshall Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Marshall Islands") { %>selected<% } %>>Marshall Islands</option>
                    <option value="Martinique" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Martinique") { %>selected<% } %>>Martinique</option>
                    <option value="Mauritania" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mauritania") { %>selected<% } %>>Mauritania</option>
                    <option value="Mauritius" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mauritius") { %>selected<% } %>>Mauritius</option>
                    <option value="Mayotte" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mayotte") { %>selected<% } %>>Mayotte</option>
                    <option value="Mexico" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mexico") { %>selected<% } %>>Mexico</option>
                    <option value="Micronesia (Federated States of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Micronesia (Federated States of)") { %>selected<% } %>>Micronesia (Federated States of)</option>
                    <option value="Moldova (Republic of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Moldova (Republic of)") { %>selected<% } %>>Moldova (Republic of)</option>
                    <option value="Monaco" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Monaco") { %>selected<% } %>>Monaco</option>
                    <option value="Mongolia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mongolia") { %>selected<% } %>>Mongolia</option>
                    <option value="Montenegro" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Montenegro") { %>selected<% } %>>Montenegro</option>
                    <option value="Montserrat" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Montserrat") { %>selected<% } %>>Montserrat</option>
                    <option value="Morocco" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Morocco") { %>selected<% } %>>Morocco</option>
                    <option value="Mozambique" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Mozambique") { %>selected<% } %>>Mozambique</option>
                    <option value="Myanmar" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Myanmar") { %>selected<% } %>>Myanmar</option>
                    <option value="Namibia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Namibia") { %>selected<% } %>>Namibia</option>
                    <option value="Nauru" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Nauru") { %>selected<% } %>>Nauru</option>
                    <option value="Nepal" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Nepal") { %>selected<% } %>>Nepal</option>
                    <option value="Netherlands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Netherlands") { %>selected<% } %>>Netherlands</option>
                    <option value="New Caledonia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "New Caledonia") { %>selected<% } %>>New Caledonia</option>
                    <option value="New Zealand" <% if (pi !== null && pi.dualCitizenship.dcCountry === "New Zealand") { %>selected<% } %>>New Zealand</option>
                    <option value="Nicaragua" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Nicaragua") { %>selected<% } %>>Nicaragua</option>
                    <option value="Niger" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Niger") { %>selected<% } %>>Niger</option>
                    <option value="Nigeria" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Nigeria") { %>selected<% } %>>Nigeria</option>
                    <option value="Niue" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Niue") { %>selected<% } %>>Niue</option>
                    <option value="Norfolk Island" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Norfolk Island") { %>selected<% } %>>Norfolk Island</option>
                    <option value="Northern Mariana Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Northern Mariana Islands") { %>selected<% } %>>Northern Mariana Islands</option>
                    <option value="Norway" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Norway") { %>selected<% } %>>Norway</option>
                    <option value="Oman" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Oman") { %>selected<% } %>>Oman</option>
                    <option value="Pakistan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Pakistan") { %>selected<% } %>>Pakistan</option>
                    <option value="Palau" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Palau") { %>selected<% } %>>Palau</option>
                    <option value="Palestine, State of" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Palestine, State of") { %>selected<% } %>>Palestine, State of</option>
                    <option value="Panama" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Panama") { %>selected<% } %>>Panama</option>
                    <option value="Papua New Guinea" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Papua New Guinea") { %>selected<% } %>>Papua New Guinea</option>
                    <option value="Paraguay" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Paraguay") { %>selected<% } %>>Paraguay</option>
                    <option value="Peru" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Peru") { %>selected<% } %>>Peru</option>
                    <option value="Philippines" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Philippines") { %>selected<% } %>>Philippines</option>
                    <option value="Pitcairn" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Pitcairn") { %>selected<% } %>>Pitcairn</option>
                    <option value="Poland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Poland") { %>selected<% } %>>Poland</option>
                    <option value="Portugal" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Portugal") { %>selected<% } %>>Portugal</option>
                    <option value="Puerto Rico" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Puerto Rico") { %>selected<% } %>>Puerto Rico</option>
                    <option value="Qatar" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Qatar") { %>selected<% } %>>Qatar</option>
                    <option value="Réunion" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Réunion") { %>selected<% } %>>Réunion</option>
                    <option value="Romania" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Romania") { %>selected<% } %>>Romania</option>
                    <option value="Russian Federation" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Russian Federation") { %>selected<% } %>>Russian Federation</option>
                    <option value="Rwanda" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Rwanda") { %>selected<% } %>>Rwanda</option>
                    <option value="Saint Barthélemy" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Barthélemy") { %>selected<% } %>>Saint Barthélemy</option>
                    <option value="Saint Helena, Ascension and Tristan da Cunha" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Helena, Ascension and Tristan da Cunha") { %>selected<% } %>>Saint Helena, Ascension and Tristan da Cunha</option>
                    <option value="Saint Kitts and Nevis" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Kitts and Nevis") { %>selected<% } %>>Saint Kitts and Nevis</option>
                    <option value="Saint Lucia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Lucia") { %>selected<% } %>>Saint Lucia</option>
                    <option value="Saint Martin (French part)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Martin (French part)") { %>selected<% } %>>Saint Martin (French part)</option>
                    <option value="Saint Pierre and Miquelon" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Pierre and Miquelon") { %>selected<% } %>>Saint Pierre and Miquelon</option>
                    <option value="Saint Vincent and the Grenadines" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saint Vincent and the Grenadines") { %>selected<% } %>>Saint Vincent and the Grenadines</option>
                    <option value="Samoa" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Samoa") { %>selected<% } %>>Samoa</option>
                    <option value="San Marino" <% if (pi !== null && pi.dualCitizenship.dcCountry === "San Marino") { %>selected<% } %>>San Marino</option>
                    <option value="Sao Tome and Principe" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Sao Tome and Principe") { %>selected<% } %>>Sao Tome and Principe</option>
                    <option value="Saudi Arabia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Saudi Arabia") { %>selected<% } %>>Saudi Arabia</option>
                    <option value="Senegal" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Senegal") { %>selected<% } %>>Senegal</option>
                    <option value="Serbia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Serbia") { %>selected<% } %>>Serbia</option>
                    <option value="Seychelles" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Seychelles") { %>selected<% } %>>Seychelles</option>
                    <option value="Sierra Leone" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Sierra Leone") { %>selected<% } %>>Sierra Leone</option>
                    <option value="Singapore" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Singapore") { %>selected<% } %>>Singapore</option>
                    <option value="Sint Maarten (Dutch part)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Sint Maarten (Dutch part)") { %>selected<% } %>>Sint Maarten (Dutch part)</option>
                    <option value="Slovakia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Slovakia") { %>selected<% } %>>Slovakia</option>
                    <option value="Slovenia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Slovenia") { %>selected<% } %>>Slovenia</option>
                    <option value="Solomon Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Solomon Islands") { %>selected<% } %>>Solomon Islands</option>
                    <option value="Somalia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Somalia") { %>selected<% } %>>Somalia</option>
                    <option value="South Africa" <% if (pi !== null && pi.dualCitizenship.dcCountry === "South Africa") { %>selected<% } %>>South Africa</option>
                    <option value="South Georgia and the South Sandwich Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "South Georgia and the South Sandwich Islands") { %>selected<% } %>>South Georgia and the South Sandwich Islands</option>
                    <option value="South Sudan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "South Sudan") { %>selected<% } %>>South Sudan</option>
                    <option value="Spain" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Spain") { %>selected<% } %>>Spain</option>
                    <option value="Sri Lanka" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Sri Lanka") { %>selected<% } %>>Sri Lanka</option>
                    <option value="Sudan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Sudan") { %>selected<% } %>>Sudan</option>
                    <option value="Suriname" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Suriname") { %>selected<% } %>>Suriname</option>
                    <option value="Svalbard and Jan Mayen" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Svalbard and Jan Mayen") { %>selected<% } %>>Svalbard and Jan Mayen</option>
                    <option value="Swaziland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Swaziland") { %>selected<% } %>>Swaziland</option>
                    <option value="Sweden" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Sweden") { %>selected<% } %>>Sweden</option>
                    <option value="Switzerland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Switzerland") { %>selected<% } %>>Switzerland</option>
                    <option value="Syrian Arab Republic" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Syrian Arab Republic") { %>selected<% } %>>Syrian Arab Republic</option>
                    <option value="Taiwan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Taiwan") { %>selected<% } %>>Taiwan</option>
                    <option value="Tajikistan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Tajikistan") { %>selected<% } %>>Tajikistan</option>
                    <option value="Tanzania, United Republic of" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Tanzania, United Republic of") { %>selected<% } %>>Tanzania, United Republic of</option>
                    <option value="Thailand" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Thailand") { %>selected<% } %>>Thailand</option>
                    <option value="Timor-Leste" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Timor-Leste") { %>selected<% } %>>Timor-Leste</option>
                    <option value="Togo" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Togo") { %>selected<% } %>>Togo</option>
                    <option value="Tokelau" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Tokelau") { %>selected<% } %>>Tokelau</option>
                    <option value="Tonga" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Tonga") { %>selected<% } %>>Tonga</option>
                    <option value="Trinidad and Tobago" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Trinidad and Tobago") { %>selected<% } %>>Trinidad and Tobago</option>
                    <option value="Tunisia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Tunisia") { %>selected<% } %>>Tunisia</option>
                    <option value="Turkey" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Turkey") { %>selected<% } %>>Turkey</option>
                    <option value="Turkmenistan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Turkmenistan") { %>selected<% } %>>Turkmenistan</option>
                    <option value="Turks and Caicos Islands" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Turks and Caicos Islands") { %>selected<% } %>>Turks and Caicos Islands</option>
                    <option value="Tuvalu" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Tuvalu") { %>selected<% } %>>Tuvalu</option>
                    <option value="Uganda" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Uganda") { %>selected<% } %>>Uganda</option>
                    <option value="Ukraine" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Ukraine") { %>selected<% } %>>Ukraine</option>
                    <option value="United Arab Emirates" <% if (pi !== null && pi.dualCitizenship.dcCountry === "United Arab Emirates") { %>selected<% } %>>United Arab Emirates</option>
                    <option value="United Kingdom of Great Britain and Northern Ireland" <% if (pi !== null && pi.dualCitizenship.dcCountry === "United Kingdom of Great Britain and Northern Ireland") { %>selected<% } %>>United Kingdom of Great Britain and Northern Ireland</option>
                    <option value="United States of America" <% if (pi !== null && pi.dualCitizenship.dcCountry === "United States of America") { %>selected<% } %>>United States of America</option>
                    <option value="Uruguay" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Uruguay") { %>selected<% } %>>Uruguay</option>
                    <option value="Uzbekistan" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Uzbekistan") { %>selected<% } %>>Uzbekistan</option>
                    <option value="Vanuatu" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Vanuatu") { %>selected<% } %>>Vanuatu</option>
                    <option value="Venezuela (Bolivarian Republic of)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Venezuela (Bolivarian Republic of)") { %>selected<% } %>>Venezuela (Bolivarian Republic of)</option>
                    <option value="Viet Nam" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Viet Nam") { %>selected<% } %>>Viet Nam</option>
                    <option value="Virgin Islands (British)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Virgin Islands (British)") { %>selected<% } %>>Virgin Islands (British)</option>
                    <option value="Virgin Islands (U.S.)" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Virgin Islands (U.S.)") { %>selected<% } %>>Virgin Islands (U.S.)</option>
                    <option value="Wallis and Futuna" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Wallis and Futuna") { %>selected<% } %>>Wallis and Futuna</option>
                    <option value="Western Sahara" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Western Sahara") { %>selected<% } %>>Western Sahara</option>
                    <option value="Yemen" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Yemen") { %>selected<% } %>>Yemen</option>
                    <option value="Zambia" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Zambia") { %>selected<% } %>>Zambia</option>
                    <option value="Zimbabwe" <% if (pi !== null && pi.dualCitizenship.dcCountry === "Zimbabwe") { %>selected<% } %>>Zimbabwe</option>
                    </select>
                <label class=" formsubHeader" for="Residential Address">Residential Address:  <p class="required">*</p></label>
    
                <label class="" for="raHBLN">House/Block/Lot No.:  <p class="required">*</p></label>
                <input class="" id="raHBLN" name="raHBLN" placeholder="House/Block/Lot No." value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raHBLN %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="raStrt">Street:  <p class="required">*</p></label>
                <input class="" id="raStrt" name="raStrt" placeholder="Street" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raStrt %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="raSubVil">Subdivision/Village:  <p class="required">*</p></label>
                <input class="" id="raSubVil" name="raSubVil" placeholder="Subdivision/Village" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raSubVil %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="raBarangay">Barangay:  <p class="required">*</p></label>
                <input class="" id="raBarangay" name="raBarangay" placeholder="Barangay" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raBarangay %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="raCity">City:  <p class="required">*</p></label>
                <input class="" id="raCity" name="raCity" placeholder="City" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raCity %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="raProvince">Province:  <p class="required">*</p></label>
                <input class="" id="raProvince" name="raProvince" placeholder="Province" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raProvince %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="raZipCode">Zip Code:  <p class="required">*</p></label>
                <input class="" id="raZipCode" name="raZipCode" placeholder="Zip Code" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raZipCode %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="formsubHeader" for="Residential Address">Permanent Address:  <p class="required">*</p></label>
    
                <input class="sameasbutton" type="checkbox" id="sameasbutton" name="sameasbutton" value="<% if (pi === null) {} else {%><%= pi.residentialAddress.raZipCode %><% } %>" >
                <label class="same-as-label" for="sameasbutton">Same as Residential Address: </label>
    
                <label class="" for="paHBLN">House/Block/Lot No.:  <p class="required">*</p></label>
                <input class="" id="paHBLN" name="paHBLN" placeholder="House/Block/Lot No." value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paHBLN %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="paStrt">Street:  <p class="required">*</p></label>
                <input class="" id="paStrt" name="paStrt" placeholder="Street" value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paStrt %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="paSubVil">Subdivision/Village:  <p class="required">*</p></label>
                <input class="" id="paSubVil" name="paSubVil" placeholder="Subdivision/Village" value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paSubVil %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="paBarangay">Barangay:  <p class="required">*</p></label>
                <input class="" id="paBarangay" name="paBarangay" placeholder="Barangay" value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paBarangay %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="paCity">City:  <p class="required">*</p></label>
                <input class="" id="paCity" name="paCity" placeholder="City" value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paCity %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="paProvince">Province:  <p class="required">*</p></label>
                <input class="" id="paProvince" name="paProvince" placeholder="Province" value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paProvince %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">
                
                <label class="" for="paZipCode">Zip Code:  <p class="required">*</p></label>
                <input class="" id="paZipCode" name="paZipCode" placeholder="Zip Code" value="<% if (pi === null) {} else {%><%= pi.permanentAddress.paZipCode %><% } %>" required 
                oninvalid="this.setCustomValidity('Type N/A when this field is not applicable to You')" 
                oninput="this.setCustomValidity('')">

                <input type="hidden" name="userId" id="userId" value="<%= user._id %>">
            </div>
            
        </div>
        
    </form>
    
</div>

<script>

    
    const form = document.querySelector('form');
    
    var checkbox = document.getElementById("sameasbutton");
    var raHBLN = document.getElementById("raHBLN");
    var raStrt = document.getElementById("raStrt");
    var raSubVil = document.getElementById("raSubVil");
    var raBarangay = document.getElementById("raBarangay");
    var raCity = document.getElementById("raCity");
    var raProvince = document.getElementById("raProvince");
    var raZipCode = document.getElementById("raZipCode");
    var paHBLN = document.getElementById("paHBLN");
    var paStrt = document.getElementById("paStrt");
    var paSubVil = document.getElementById("paSubVil");
    var paBarangay = document.getElementById("paBarangay");
    var paCity = document.getElementById("paCity");
    var paProvince = document.getElementById("paProvince");
    var paZipCode = document.getElementById("paZipCode");

// Add an event listener for the 'change' event
checkbox.addEventListener('change', function() {
        
        

    if (this.checked) {
        paHBLN.value = raHBLN.value;
        paStrt.value = raStrt.value;
        paSubVil.value = raSubVil.value;
        paBarangay.value = raBarangay.value;
        paCity.value = raCity.value;
        paProvince.value = raProvince.value;
        paZipCode.value = raZipCode.value;

    } else {
        paHBLN.value = '';
        paStrt.value = '';
        paSubVil.value = '';
        paBarangay.value = '';
        paCity.value = '';
        paProvince.value = '';
        paZipCode.value = '';
    }
});





    

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        

        const userId = form.userId.value;
        const middleName = form.middleName.value;
        const nameExtension = form.nameExtension.value;
        const birthDate = form.birthDate.value;
        const placeOfBirth = form.placeOfBirth.value;
        const sex = form.sex.value;
        const civilStatus = form.civilStatus.value;
        const height = form.height.value;
        const weight = form.weight.value;
        const bloodType = form.bloodType.value;
        const gsisId = form.gsisId.value;
        const pagibigId = form.pagibigId.value;
        const philhealthId = form.philhealthId.value;
        const sssId = form.sssId.value;
        const tinId = form.tinId.value;
        const agencyEmployeeId = form.agencyEmployeeId.value;
        const telNo = form.telNo.value;
        const celNo = form.telNo.value;
        const citizenship = form.citizenship.value;
        const dcType = form.dcType.value;
        const dcCountry = form.dcCountry.value;
        const raHBLN = form.raHBLN.value;
        const raStrt = form.raStrt.value;
        const raSubVil = form.raSubVil.value;
        const raBarangay = form.raBarangay.value;
        const raCity = form.raCity.value;
        const raProvince = form.raProvince.value;
        const raZipCode = form.raZipCode.value;
        const paHBLN = form.paHBLN.value;
        const paStrt = form.paStrt.value;
        const paSubVil = form.paSubVil.value;
        const paBarangay = form.paBarangay.value;
        const paCity = form.paCity.value;
        const paProvince = form.paProvince.value;
        const paZipCode = form.paZipCode.value;
        console.log({userId, middleName, nameExtension, birthDate, placeOfBirth, sex, civilStatus, height, 
            weight, bloodType, gsisId, pagibigId, philhealthId, sssId, tinId, agencyEmployeeId, telNo,
            citizenship, dcType, dcCountry, raHBLN, raStrt, raSubVil, raBarangay, raCity, raProvince, raZipCode,
            paHBLN, paStrt, paSubVil, paBarangay, paCity, paProvince, paZipCode});
        try{
                const res = await fetch('/personalinformation', {
                  method: 'POST',
                  body: JSON.stringify({userId, middleName, nameExtension, birthDate, placeOfBirth, sex, civilStatus, height, 
                                        weight, bloodType, gsisId, pagibigId, philhealthId, sssId, tinId, agencyEmployeeId, telNo, celNo, 
                                        citizenship, dualCitizenship:{dcType, dcCountry}, residentialAddress:{raHBLN, raStrt, raSubVil, raBarangay, raCity, raProvince, raZipCode},
                                        permanentAddress:{paHBLN, paStrt, paSubVil, paBarangay, paCity, paProvince, paZipCode}}),
                  headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                if(data.status === 'Update Failed'){
                    localStorage.setItem('notification', 'Saving Data Failed.');
                    location.assign('/personalinformation/<%=user._id%>');
                }
                if (data.status === 'Update Success'){
                    localStorage.setItem('notification', 'Data saved successfully.');
                    location.assign('/personalinformation/<%=user._id%>');
                }
                
              }
              catch (err){
              }
      
      })

      function handleCitizenshipSelection() {
        const citizenshipSelect = document.getElementById('citizenship');
        const dcType = document.getElementById('dcType');
        const dcCountry = document.getElementById('dcCountry');
        const dcTypeL = document.getElementById('dcTypeL');
        const dcCountryL = document.getElementById('dcCountryL');
    
        if (citizenshipSelect.value === 'Dual Citizenship') {
            dcType.style.display = 'block';
            dcCountry.style.display = 'block';
            dcTypeL.style.display = 'block';
            dcCountryL.style.display = 'block';
        } else {
            dcType.style.display = 'none';
            dcCountry.style.display = 'none';
            dcTypeL.style.display = 'none';
            dcCountryL.style.display = 'none';
        }
    }
    handleCitizenshipSelection()
</script>
