
<script>
    const voluntaryworks = [];
</script>
<div class="row align-items-center">
    <form class="mt-1 pds-form" >
        <label class=" formHeader" for="PD-EASE">Voluntary Works</label>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <button class="btn btn-primary form-btn" type="submit">Save</button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-10">

                <a class="btn btn-light bg-flagged  my-3" id="AddChild" onclick="addvoluntarywork()">+ add</a>
                <label class="" for="nameAddressOfOrganization">Name & Adress of Ogranization: </label>
                <input class="" id="nameAddressOfOrganization" name="nameAddressOfOrganization" placeholder="Write in full do not Abbreviate" value="" >
                
                <label class=" formsubHeader" for="spouse">Inclusive Dates: </label>
                <label class="" for="volunteeredFrom">From: </label>
                <input class="" type="date" id="volunteeredFrom" name="volunteeredFrom" placeholder="Starting Date" value="" >
                <label class="" for="volunteeredTo">To: </label>
                <input class="" type="date" id="volunteeredTo" name="volunteeredTo" placeholder="Ending Date" value="" >

                <label class="" for="volunteernumberOfHours">Number of Hours: </label>
                <input class="" id="volunteernumberOfHours" name="volunteernumberOfHours" placeholder="in Hours" value="" >
                <label class="" for="positionNature">Position/Nature of Work: </label>
                <input class="" id="positionNature" name="positionNature" placeholder="Write in full " value="" >
            </div>
            <div class="col-lg-5 col-sm-10">
                <% if(vw) {if (vw.vw === null) {} else {%><% for( var voluntarywork of vw.vw ) { %>
                    <!-- add all the current childrens to the array -->

                    <script data-volunteeredfrom="<%- voluntarywork.volunteeredFrom.toDateString() %>" data-volunteeredto="<%- voluntarywork.volunteeredTo.toDateString() %>" 
                        data-nameaddressoforganization="<%- voluntarywork.nameAddressOfOrganization %>" data-volunteernumberofhours="<%- voluntarywork.volunteernumberOfHours%>"
                        data-positionnature="<%- voluntarywork.positionNature%>" >
                        
                        volunteeredFrom = document.currentScript.dataset.volunteeredfrom;
                        volunteeredTo = document.currentScript.dataset.volunteeredto;
                        nameAddressOfOrganization = document.currentScript.dataset.nameaddressoforganization;
                        volunteernumberOfHours = document.currentScript.dataset.volunteernumberofhours;
                        positionNature = document.currentScript.dataset.positionnature;

                        console.log({volunteeredFrom, volunteeredTo, nameAddressOfOrganization, volunteernumberOfHours, positionNature})
                        voluntaryworks.push( {volunteeredFrom, volunteeredTo, nameAddressOfOrganization, volunteernumberOfHours, positionNature});
                    </script>

                <% } %><%}}%>
                <label class=" formsubHeader" for="voluntaryworks">Voluntary Works</label>
                <label class="" for="schooLevel">Click Add after filling up to save entry </label>
                <label class="" for="schooLevel">Entries Will Show Here</label>
                <label class="" for="schooLevel">Only Those below Here will be saved</label>
                <hr>
                <div id="referenceblock1" class="referenceblock"></div>
                <input type="hidden" name="userId" id="userId" value="<%= user._id %>">
            </div>
        </div>
    </form>
    
    
</div>
<script >
    const referenceblock = document.getElementById('referenceblock1');
   function printvoluntaryworks() {
voluntaryworks.forEach((voluntarywork, index) => {
        var cardblock = document.createElement("div");
        cardblock.className = "card";
        var cardbody = document.createElement("div");
        cardbody.className = "card-body";
        
        // Create h1 element
        var nameAddressOfOrganizationblock = document.createElement("h1");
        nameAddressOfOrganizationblock.textContent = voluntarywork.nameAddressOfOrganization;
    
        // Create p element for volunteered from
        var volunteeredFromblock = document.createElement("p");
        volunteeredFromblock.textContent = 'Volunteered From: ' + voluntarywork.volunteeredFrom;

        // Create p element for volunteered to
        var volunteeredToblock = document.createElement("p");
        volunteeredToblock.textContent = 'Volunteered To: ' + voluntarywork.volunteeredTo;

        // Create p element for number of hours volunteered
        var volunteernumberOfHoursblock = document.createElement("p");
        volunteernumberOfHoursblock.textContent = 'Number of Hours Volunteered: ' + voluntarywork.volunteernumberOfHours;

        // Create p element for position nature
        var positionNatureblock = document.createElement("p");
        positionNatureblock.textContent = 'Position Nature: ' + voluntarywork.positionNature;
    
        // Create delete button for deleting this child's information
        var deleteButton = document.createElement("a");
        deleteButton.className = 'btn deleteButton'; // Use className to assign a class
        
        var deleticon = document.createElement("i");
        deleticon.className = 'lni lni-eraser';
        deleteButton.appendChild(deleticon)
        
        
        // Add event listener to delete button
        deleteButton.addEventListener("click", function() {
            // Remove child's information and the delete button from the DOM=
            referenceblock.removeChild(cardblock);
            
            // Remove child's data from the 'children' array
            voluntaryworks.splice(index);
        });
        referenceblock.appendChild(cardblock);
        cardblock.appendChild(cardbody);
    
        // Append child's name, birthday, and delete button to reference block
        cardbody.appendChild(nameAddressOfOrganizationblock);
        cardbody.appendChild(volunteeredFromblock);
        cardbody.appendChild(volunteeredToblock);
        cardbody.appendChild(volunteernumberOfHoursblock);
        cardbody.appendChild(positionNatureblock);
        cardbody.appendChild(deleteButton);

    
    });

   }
   printvoluntaryworks()
   function addvoluntarywork() {
    const volunteeredFrom = document.getElementById('volunteeredFrom');
    const volunteeredTo = document.getElementById('volunteeredTo');
    const nameAddressOfOrganization = document.getElementById('nameAddressOfOrganization');
    const volunteernumberOfHours = document.getElementById('volunteernumberOfHours');
    const positionNatureblock = document.getElementById('positionNature');
    const referenceblock = document.getElementById('referenceblock1');

    // Check if all fields are not empty
    if (volunteeredFrom.value.trim() === '' || volunteeredTo.value.trim() === '' 
        || nameAddressOfOrganization.value.trim() === '' || volunteernumberOfHours.value.trim() === '' 
        || positionNatureblock.value.trim() === '') {
        // If any field is empty, display an alert or handle the error accordingly
        alert('Please fill in all fields');
        return; // Exit the function early
    }

    // If all fields are filled, proceed with other actions
    voluntaryworks.push({
        volunteeredFrom: volunteeredFrom.value,
        volunteeredTo: volunteeredTo.value,
        nameAddressOfOrganization: nameAddressOfOrganization.value,
        volunteernumberOfHours: volunteernumberOfHours.value,
        positionNature: positionNatureblock.value
    });
    console.log(voluntaryworks, 'hello');

    // Clear the referenceblock
    while (referenceblock.firstChild) {
        referenceblock.removeChild(referenceblock.firstChild);
    }

    printvoluntaryworks();
    volunteeredFrom.value = '';
    volunteeredTo.value = '';
    nameAddressOfOrganization.value = '';
    volunteernumberOfHours.value = '';
    positionNatureblock.value = '';
}

    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const userId = form.userId.value;
         
    
        console.log({userId, voluntaryworks} );
        if(voluntaryworks.length > 0){
        try{
            const res = await fetch('/voluntarywork', {
              method: 'POST',
              body: JSON.stringify({userId, vw: voluntaryworks}),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
                if(data.errors){
                    localStorage.setItem('notification', 'Saving Data Failed');
                  location.assign('/voluntarywork/<%=user._id%>');
                }
                if (data.status){
                    localStorage.setItem('notification', 'Data saved successfully.');
                  location.assign('/voluntarywork/<%=user._id%>');
                }
          }
          catch (err){
          }
      }else {
            localStorage.setItem('notification', 'Please Input atleast 1 Data before saving');
            location.assign('/voluntarywork/<%=user._id%>');
        }
      })
</script>
